@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot?-5fycdm");
  src: url("../fonts/icomoon.eot?#iefix-5fycdm") format("embedded-opentype"), url("../fonts/icomoon.woff?-5fycdm") format("woff"), url("../fonts/icomoon.ttf?-5fycdm") format("truetype"), url("../fonts/icomoon.svg?-5fycdm#icomoon") format("svg");
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon-cross:before {
  content: '\e615';
}

.icon-arrow-circle-right:before {
  content: '\e614';
}

.icon-arrow-down2:before {
  content: '\e616';
}

.icon-arrow-down:before {
  content: '\e600';
}

.icon-arrow-right:before {
  content: '\e612';
}

.icon-grill:before {
  content: '\e601';
}

.icon-chat:before {
  content: '\e602';
}

.icon-notebook:before {
  content: '\e603';
}

.icon-town:before {
  content: '\e604';
}

.icon-play:before {
  content: '\e605';
}

.icon-eye:before {
  content: '\e606';
}

.icon-rocket:before {
  content: '\e607';
}

.icon-people:before {
  content: '\e608';
}

.icon-men:before {
  content: '\e609';
}

.icon-women:before {
  content: '\e60a';
}

.icon-news:before {
  content: '\e60b';
}

.icon-date:before {
  content: '\e60c';
}

.icon-cover:before {
  content: '\e60d';
}

.icon-dashboard:before {
  content: '\e60e';
}

.icon-robot:before {
  content: '\e60f';
}

.icon-idea:before {
  content: '\e610';
}

.icon-folk:before {
  content: '\e611';
}

.icon-arrow-left:before {
  content: '\e613';
}
