.ma2015 {
  @include e(intro) {
    @extend %child-page-intro;
  }

  @include e(entry-hero) {
    @extend %background--text;
    background-image: linear-gradient($black--80, $black--20), url(#{$path--css-img}/ma2015-intro-bg.jpg);
    color: $white;
    font-size: em(18px);
    text-shadow: $shadow--heavy;
  }

  @include e(gallery) {
    @extend %gallery;
    .svg-tile {
      background-color: $white;
      #Filled_Icons {
        path,
        circle,
        rect,
        polygon {
          fill: $blue--light !important;
        }
      }
    }
  }

  @include e(fullscreen-carousel) {
    @extend %fullscreen-carousel;
    padding-top: 0;
    .content-1 {
      background-image: url(#{$path--css-img}/ma2015-content-1.jpg);
    }
    .content-2 {
      background-image: url(#{$path--css-img}/ma2015-content-2.jpg);
    }
    .content-3 {
      background-image: url(#{$path--css-img}/ma2015-content-3.jpg);
    }
    .content-4 {
      background-image: url(#{$path--css-img}/ma2015-content-4.jpg);
    }
    .content-5 {
      background-image: url(#{$path--css-img}/ma2015-content-5.jpg);
    }
    .content-6 {
      background-image: url(#{$path--css-img}/ma2015-content-6.jpg);
    }
    .content-7 {
      background-image: url(#{$path--css-img}/ma2015-content-7.jpg);
    }
    .content-8 {
      background-image: url(#{$path--css-img}/ma2015-content-8.jpg);
    }
    .carousel-body {
      margin-top: em(45px);
    }
    .svg-tile {
      margin: em(60px) em(5px);
    }
    .tile--product {
      background-color: $purple;
    }
    .tile--marketing {
      background-color: $blue;
    }
    .tile--fundraising {
      background-color: $amber;
    }
    .tile--culture {
      background-color: $teal;
    }
  }

  @include e(callout) {
    background-color: $grey--x-light;
    background: linear-gradient($white, $grey--x-light);
    .columns {
      padding: 0 em(6px);
      .row {
        @extend %panel;
        margin: em(6px) auto;
        padding: 0;
        .columns:nth-child(1) {
          padding: 0;
          overflow: hidden;
        }
        .columns:nth-child(2) {
          padding: em(25px);
        }
        @media screen and (min-width: $max-width) {
          display: flex;
          align-items: center;
        }
      }
    }
    @include m(clinics) {
      background-color: $blue--dark;
      color: $white;
      hr {
        border-color: $white;
      }
      em {
        color: $amber;
      }
    }

    @include m(career) {
      background-color: $white;
      em {
        color: $blue--light;
      }
    }
  }

  @include e(testimonials) {
    @extend %testimonials;
    background-color: $grey--x-light;
    em {
      color: $pink;
    }
  }

  @include e(footer) {
    @extend %background--button;
    background-color: $grey--x-light;
    background-image: url(#{$path--css-img}/ma2015-background.jpg);
    .svg-tile {
      background-color: $pink;
    }
    .button {
      @extend %button--clear;
    }
  }
}