.map {
  @include e(intro) {
    @extend %child-page-intro;
  }

  @include e(logos) {
    padding: em(30px) 0;
    .wrapper {
      width: 95%;
      max-width: em(1600px);
    }
    img {
      width: 31.9%;
      margin: em(6px) auto;
      padding: 0;
      @media screen and (min-width: $medium) {
        width: 19.1%;
      }
      @media screen and (min-width: $max-width) {
        width: 6.3%;
      }
    }
  }

  @include e(video) {
    @extend %background--span;
    background-color: $grey--x-light;
    background-image: url(#{$path--css-img}/map-background.jpg);
    padding-bottom: 0;
    .video-lead {
      margin-top: 35%;
    }
    h2:first-child {
      margin-bottom: em(30px, $h2__font-size);
    }
    hr {
      width: em(100px);
      margin: em(50px) auto;
    }
    .flex-video {
      @extend %panel;
      margin: em(30px) auto;
    }
    em {
      color: $accent;
    }
  }

  @include e(callout) {
    background-color: $grey--x-light;
    background: linear-gradient($grey--x-light, $white);
    .row {
      @extend %panel;
      background: $white;
      margin: em(15px) auto;
      padding: 0;
      .columns:nth-child(1) {
        padding: 0;
        overflow: hidden;
      }
      .columns:nth-child(2) {
        padding: em(25px);
      }
      @media screen and (min-width: $medium) {
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
    h2 {
      margin-bottom: em(10px, $h2__font-size);
    }
    h6 {
      font-size: em(18px);
      font-weight: $head--light;
    }
    ul {
      font-size: em(14px);
      list-style: none;
      margin-top: em(15px, 14px);
    }
    h3 {
      margin-top: em(100px, $h3__font-size);
    }
  }

  @include e(fullscreen-carousel) {
    @extend %fullscreen-carousel;
    padding-top: 0;
    .content-1 {
      background-image: url(img/map-content-1.jpg);
    }
    .content-2 {
      background-image: url(img/map-content-2.jpg);
    }
    .content-3 {
      background-image: url(img/map-content-3.jpg);
    }
    .content-4 {
      background-image: url(img/map-content-4.jpg);
    }
    .content-5 {
      background-image: url(img/map-content-5.jpg);
    }
    .content-6 {
      background-image: url(img/map-content-6.jpg);
    }
    .content-7 {
      background-image: url(img/map-content-7.jpg);
    }
    .content-8 {
      background-image: url(img/map-content-8.jpg);
    }
    .carousel-body {
      margin-top: em(45px);
    }
  }

  @include e(metrics) {
    color: $white;
    .metric {
      margin-top: em(60px);
    }
    .stats-row {
      margin-bottom: em(60px);
    }
    @media screen and (min-width: $large) {
      .metric {
        margin-top: em(90px);
      }
      .stats-row {
        margin-bottom: em(90px);
      }
    }
    hr {
      border-color: $white;
      margin: em(20px) auto;
    }
    @include m(asean) {
      .svg-tile {
        background-color: $blue--light;
      }
      background-color: $blue;
    }

    @include m(se) {
      .svg-tile {
        background-color: $amber;
      }
      background-color: $blue--dark;
      em {
        color: $amber;
      }
    }
  }

  @include e(mentor-quote) {
    background-color: $white;
    .svg-tile {
      background-color: $purple;
    }
  }

  @include e(nps) {
    background-color: $grey--x-light;
    background: linear-gradient($grey--x-light, $white);
    .svg-tile {
      background-color: $teal;
    }
    em { 
      color: $teal;
    }
  }

  @include e(footer) {
    @extend %background--button;
    background-color: $white;
    background-image: url(#{$path--css-img}/map-background-footer.jpg);
    .svg-tile {
      background-color: $pink;
    }
    .button {
      @extend %button--clear;
    }
    .button,
    .return-link {
      &:hover,
      &:active {
        color: $pink;
        border-color: $pink;
      }
    }
  }
}