.chatbot {
  input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;

        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
  }
  .blur {
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }
  .no-scroll {
    overflow: hidden;
  }
  .row .message {
    font-size: em(20px);
    line-height: 1.5;
    display: inline-block;
    margin: 0 0 em(16px) 0;
    padding: em(12px) em(24px);
    color: $white;
    border-radius: 35px;
    background-color: #00cc99;
  }
  .answer__row {
    .column {
      display: flex;

      justify-content: flex-end;
    }
    .message {
      height: auto;
      border: none;
      outline: 0;
      color: rgba($grey, .75);
      background-color: $grey--x-light;
      box-shadow: none;
    }
  }
  ::-webkit-input-placeholder {
    color: rgba($grey, .25);
  }
}
