body {
	background: #00ABC7;
	color: #FFFFFF;

	font: 16px/1.5 "Raleway", "Helvetica", sans-serif;
	font-weight: 500;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
	width: 90%;
	max-width: 600px;
	margin: 5% auto 10%;
	display: block;
}

img {
	width: 120px;
}