
.col-white {color: #FFFFFF;}
.col-black {color: #222222;}

.col-red {color: #E76A70;}
.col-blue {color: #1BC1DB;}
.col-darkblue {color: #192132;}
.col-green {color: #66AA45;}
.col-yellow {color: #FAA61A;}
.col-orange {color: #F15A22;}

.bg-white {background-color: #FFFFFF;}
.bg-offwhite {background-color: #F5F5F5;}
.bg-black {background-color: #222222}

.bg-red {background-color: #E76A70;}
.bg-blue {background-color: #1BC1DB;}
.bg-darkblue {background-color: #192132;}
.bg-green {background-color: #66AA45;}
.bg-yellow {background-color: #FAA61A;}
.bg-orange {background-color: #F15A22;}

.child-intro .grid,
.cta .grid {
  max-width: 800px;
  width: 90%;
}

.child-intro .grid p {
  font-size: 0.875em;
}

.child-intro .grid p.date {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.grid > div.column {
  padding: 60px 0 0;
}

.blurb a {
  text-decoration: none;
}

.blurb h3 {
  text-align: center;
}

p.issue {
  font-size: 0.8125em;
}

p.keynoteTitle {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: -0.5em;
}

.featured-gallery .caption-text p {
  font-size: 0.8em;
}

.featured-gallery .caption-text h2 {
  margin-top: 2em;
}

.featured-gallery ul li,
.map p,
.map h3 {
  text-align: left;
}

.featured-gallery a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 5% auto 0;
  display: block;
}

.program h2, .program hr, .program p, .program blockquote {
  color: white;
  font-weight: 100;
}

.program hr, .program .progbody {
  max-width: 600px;
  width: 90%;
}

.program .progbody {
  margin: 0 auto
}

.progbody .desc,
.progbody .results {
  font-size: 0.875em;
}

.progbody .partner {
    font-size: 0.7em;
}

.student p.attribution {
  font-size: 0.7em;
  text-align: right;
}

.results span {
  font-size: 2em;
  margin-right: 0.2em;
}

.student {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

hr.stud {
  margin: 10% auto 5%;
  max-width: 500px;
  width: 90%;
}

.student blockquote.testimonial {
  line-height: 1.8;
  margin: 0 auto;
  font-style: italic;
  width: 90%;
  margin-bottom: 1em;
}

.btn-cta {
  padding: 20px 70px;
  min-width: 420px;
}