#nav,
#nav > li,
#nav ul,
#nav ul li,
.text-cols ul,
.text-cols ul li,
.gallery .gallery-holder ul,
.legend,
.timeline,
.timeline li,
.graff-lines,
.graff-lines > li,
.sponsors ul,
.logos,
.faqs-list {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

img {
  border-style: none;
  max-width: 100%;
  height: auto; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4;
  background-color: #FFFFFF;
  color: #333333;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica", sans-serif;
  line-height: 1.25;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-weight: 300; }

h4, h5, h6 {
  font-weight: 500; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.25em; }

p,
a,
ul li,
ol li {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4; }

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-weight: 600; }

p em,
a em,
ul li em,
ol li em {
  font-weight: 700; }

hr {
  width: 3.125em;
  border-bottom: 2px solid #333333;
  margin: 1.5625em auto; }

a {
  color: #333333;
  text-decoration: underline;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms; }

a:hover,
a:active {
  color: #00D2FF; }

.map__video, .sehati__profile, .sehati__entry-hero, .sehati__exit-hero, .ma2015__entry-hero, .ma2015__footer, .map__footer, #carousel-display {
  width: 100%;
  height: 100%;
  background-color: #484848;
  background-repeat: no-repeat;
  background-size: 100%; }

.map__video, .sehati__profile {
  background-position: 0 0; }

.sehati__entry-hero, .sehati__exit-hero {
  background-position: center center;
  background-size: cover;
  padding: 25% 0; }

@media screen and (min-width: 36em) {
  .sehati__entry-hero {
    padding: 25% 0 0; } }

.ma2015__entry-hero {
  height: 0;
  padding: 25% 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.ma2015__footer, .map__footer {
  height: initial;
  padding: 0 0 50%;
  background-position: center bottom; }
  @media screen and (min-width: 48em) {
    .ma2015__footer, .map__footer {
      padding: 0 0 33%; } }

.bq {
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  border-left: none;
  margin: 0 auto;
  padding: 0; }
  .bq span {
    font-size: 2em;
    line-height: 1.25;
    display: block;
    margin: 0.5em 0; }
  .bq cite {
    font-size: 1em;
    color: #333333;
    margin-top: 0.5em; }

.ma2015__footer .button, .map__footer .button, .sehati__footer .button {
  width: 100%;
  max-width: 320px;
  display: block;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #333333;
  border: 2px solid #333333;
  border-radius: 8px;
  margin: 1.94444em auto 0.83333em;
  padding: 0.83333em 1.38889em; }
  .ma2015__footer .button:hover, .map__footer .button:hover, .sehati__footer .button:hover, .ma2015__footer .button:active, .map__footer .button:active, .sehati__footer .button:active {
    color: #00D2FF;
    border-color: #00D2FF;
    background-color: rgba(255, 255, 255, 0.8); }

.carousel-controls, .testimonial-controls {
  list-style: none; }
  .carousel-controls li, .testimonial-controls li {
    display: inline-block;
    cursor: pointer;
    margin: 0.3125em; }
    .carousel-controls li img, .testimonial-controls li img {
      width: 70px;
      background-color: #FFFFFF;
      border: 4px solid #FFFFFF;
      border-radius: 50%; }
    .carousel-controls li:hover, .testimonial-controls li:hover, .carousel-controls li:active, .testimonial-controls li:active {
      transform: scale(1.05);
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;
      -webkit-transform: scale(1.2);
      -webkit-transition-duration: 250ms;
      -webkit-transition-timing-function: ease-in-out; }

.ma2015__fullscreen-carousel, .map__fullscreen-carousel {
  background-color: #FFFFFF;
  padding-top: 0; }
  .ma2015__fullscreen-carousel em, .map__fullscreen-carousel em {
    color: #00D2FF; }

#carousel-display {
  background-color: #EEEEEE;
  transition-duration: 250ms;
  padding-bottom: 48.6%; }

.carousel-controls {
  margin-top: -2.1875em; }

.ma2015__gallery, .sehati__gallery {
  background-color: #00D2FF;
  color: #FFFFFF; }
  .ma2015__gallery .gallery-row, .sehati__gallery .gallery-row {
    margin: 3.75em auto; }
    .ma2015__gallery .gallery-row .columns, .sehati__gallery .gallery-row .columns {
      padding: 0.375em; }
      .ma2015__gallery .gallery-row .columns img, .sehati__gallery .gallery-row .columns img {
        border: 2px solid #FFFFFF;
        border-radius: 8px; }

.ma2015__testimonials .participant, .sehati__testimonials .participant {
  display: none; }
.ma2015__testimonials .participant:first-child, .sehati__testimonials .participant:first-child {
  display: block; }
.ma2015__testimonials .participant iframe, .sehati__testimonials .participant iframe {
  width: 100%; }
.ma2015__testimonials .testimonials-lead, .sehati__testimonials .testimonials-lead {
  margin-bottom: 3.75em; }
.ma2015__testimonials em, .sehati__testimonials em {
  color: #00D2FF; }

.testimonial-controls {
  margin-bottom: 1.875em; }
  @media screen and (min-width: 48em) {
    .testimonial-controls li {
      display: block;
      margin-left: 50%; } }

.instagram-media {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 658px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px); }
  .instagram-media > div {
    padding: 8px; }
    .instagram-media > div > div {
      background: #F8F8F8;
      line-height: 0;
      margin-top: 40px;
      padding: 50.0% 0;
      text-align: center;
      width: 100%; }
      .instagram-media > div > div > div {
        display: block;
        height: 44px;
        margin: 0 auto -44px;
        position: relative;
        top: -22px;
        width: 44px; }
    .instagram-media > div p:nth-child(1) {
      margin: 8px 0 0 0;
      padding: 0 4px; }
      .instagram-media > div p:nth-child(1) a {
        color: #000;
        font-family: Arial,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
        word-wrap: break-word; }
    .instagram-media > div p:nth-child(2) {
      color: #c9c8cd;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
      margin-top: 8px;
      overflow: hidden;
      padding: 8px 0 7px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .instagram-media > div p:nth-child(2) a {
        color: #c9c8cd;
        font-family: Arial,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none; }
      .instagram-media > div p:nth-child(2) time {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 17px; }

.ma2015__intro, .map__intro, .sehati__intro {
  background-color: #0B0B0B;
  color: #FFFFFF; }
  .ma2015__intro .date, .map__intro .date, .sehati__intro .date {
    text-transform: uppercase;
    font-size: 0.8125em;
    margin-bottom: 1.15385em; }
  .ma2015__intro hr, .map__intro hr, .sehati__intro hr {
    border-color: #FFFFFF; }
  .ma2015__intro h3, .map__intro h3, .sehati__intro h3 {
    margin-bottom: 1.04167em; }
  .ma2015__intro p, .map__intro p, .sehati__intro p {
    font-size: 0.9375em; }

.ma2015__callout .columns .row, .map__video .flex-video, .map__callout .row, .sehati__roadshows .roadshow-stop {
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 2px rgba(11, 11, 11, 0.2); }

.section--padded {
  padding: 6.25em 0; }

.wrapper {
  max-width: 66em;
  width: 90%;
  margin: 0 auto; }

.svg-tile {
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #484848;
  border-radius: 15px;
  margin-bottom: 15px; }
  .svg-tile #Filled_Icons path,
  .svg-tile #Filled_Icons circle,
  .svg-tile #Filled_Icons rect,
  .svg-tile #Filled_Icons polygon {
    fill: #FFFFFF !important; }

.ma2015__entry-hero {
  background-image: linear-gradient(rgba(11, 11, 11, 0.8), rgba(11, 11, 11, 0.2)), url(img/ma2015-intro-bg.jpg);
  color: #FFFFFF;
  font-size: 1.125em;
  text-shadow: 0 1px 2px rgba(11, 11, 11, 0.8); }
.ma2015__gallery .svg-tile {
  background-color: #FFFFFF; }
  .ma2015__gallery .svg-tile #Filled_Icons path,
  .ma2015__gallery .svg-tile #Filled_Icons circle,
  .ma2015__gallery .svg-tile #Filled_Icons rect,
  .ma2015__gallery .svg-tile #Filled_Icons polygon {
    fill: #00D2FF !important; }
.ma2015__fullscreen-carousel {
  padding-top: 0; }
  .ma2015__fullscreen-carousel .content-1 {
    background-image: url(img/ma2015-content-1.jpg); }
  .ma2015__fullscreen-carousel .content-2 {
    background-image: url(img/ma2015-content-2.jpg); }
  .ma2015__fullscreen-carousel .content-3 {
    background-image: url(img/ma2015-content-3.jpg); }
  .ma2015__fullscreen-carousel .content-4 {
    background-image: url(img/ma2015-content-4.jpg); }
  .ma2015__fullscreen-carousel .content-5 {
    background-image: url(img/ma2015-content-5.jpg); }
  .ma2015__fullscreen-carousel .content-6 {
    background-image: url(img/ma2015-content-6.jpg); }
  .ma2015__fullscreen-carousel .content-7 {
    background-image: url(img/ma2015-content-7.jpg); }
  .ma2015__fullscreen-carousel .content-8 {
    background-image: url(img/ma2015-content-8.jpg); }
  .ma2015__fullscreen-carousel .carousel-body {
    margin-top: 2.8125em; }
  .ma2015__fullscreen-carousel .svg-tile {
    margin: 3.75em 0.3125em; }
  .ma2015__fullscreen-carousel .tile--product {
    background-color: #9C27B0; }
  .ma2015__fullscreen-carousel .tile--marketing {
    background-color: #3A7BD5; }
  .ma2015__fullscreen-carousel .tile--fundraising {
    background-color: #F8A61B; }
  .ma2015__fullscreen-carousel .tile--culture {
    background-color: #00BCD4; }
.ma2015__callout {
  background-color: #EEEEEE;
  background: linear-gradient(#FFFFFF, #EEEEEE); }
  .ma2015__callout .columns {
    padding: 0 0.375em; }
    .ma2015__callout .columns .row {
      margin: 0.375em auto;
      padding: 0; }
      .ma2015__callout .columns .row .columns:nth-child(1) {
        padding: 0;
        overflow: hidden; }
      .ma2015__callout .columns .row .columns:nth-child(2) {
        padding: 1.5625em; }
      @media screen and (min-width: 66em) {
        .ma2015__callout .columns .row {
          display: flex;
          align-items: center; } }
  .ma2015__callout--clinics {
    background-color: #192132;
    color: #FFFFFF; }
    .ma2015__callout--clinics hr {
      border-color: #FFFFFF; }
    .ma2015__callout--clinics em {
      color: #F8A61B; }
  .ma2015__callout--career {
    background-color: #FFFFFF; }
    .ma2015__callout--career em {
      color: #00D2FF; }
.ma2015__testimonials {
  background-color: #EEEEEE; }
  .ma2015__testimonials em {
    color: #E91E63; }
.ma2015__footer {
  background-color: #EEEEEE;
  background-image: url(img/ma2015-background.jpg); }
  .ma2015__footer .svg-tile {
    background-color: #E91E63; }

.map__logos {
  padding: 1.875em 0; }
  .map__logos .wrapper {
    width: 95%;
    max-width: 100em; }
  .map__logos img {
    width: 31.9%;
    margin: 0.375em auto;
    padding: 0; }
    @media screen and (min-width: 36em) {
      .map__logos img {
        width: 19.1%; } }
    @media screen and (min-width: 66em) {
      .map__logos img {
        width: 6.3%; } }
.map__video {
  background-color: #EEEEEE;
  background-image: url(img/map-background.jpg);
  padding-bottom: 0; }
  .map__video .video-lead {
    margin-top: 35%; }
  .map__video h2:first-child {
    margin-bottom: 0.9375em; }
  .map__video hr {
    width: 6.25em;
    margin: 3.125em auto; }
  .map__video .flex-video {
    margin: 1.875em auto; }
  .map__video em {
    color: #00D2FF; }
.map__callout {
  background-color: #EEEEEE;
  background: linear-gradient(#EEEEEE, #FFFFFF); }
  .map__callout .row {
    background: #FFFFFF;
    margin: 0.9375em auto;
    padding: 0; }
    .map__callout .row .columns:nth-child(1) {
      padding: 0;
      overflow: hidden; }
    .map__callout .row .columns:nth-child(2) {
      padding: 1.5625em; }
    @media screen and (min-width: 36em) {
      .map__callout .row {
        display: flex;
        align-items: center; }
        .map__callout .row img {
          width: 100%; } }
  .map__callout h2 {
    margin-bottom: 0.3125em; }
  .map__callout h6 {
    font-size: 1.125em;
    font-weight: 300; }
  .map__callout ul {
    font-size: 0.875em;
    list-style: none;
    margin-top: 1.07143em; }
  .map__callout h3 {
    margin-top: 4.16667em; }
.map__fullscreen-carousel {
  padding-top: 0; }
  .map__fullscreen-carousel .content-1 {
    background-image: url(img/map-content-1.jpg); }
  .map__fullscreen-carousel .content-2 {
    background-image: url(img/map-content-2.jpg); }
  .map__fullscreen-carousel .content-3 {
    background-image: url(img/map-content-3.jpg); }
  .map__fullscreen-carousel .content-4 {
    background-image: url(img/map-content-4.jpg); }
  .map__fullscreen-carousel .content-5 {
    background-image: url(img/map-content-5.jpg); }
  .map__fullscreen-carousel .content-6 {
    background-image: url(img/map-content-6.jpg); }
  .map__fullscreen-carousel .content-7 {
    background-image: url(img/map-content-7.jpg); }
  .map__fullscreen-carousel .content-8 {
    background-image: url(img/map-content-8.jpg); }
  .map__fullscreen-carousel .carousel-body {
    margin-top: 2.8125em; }
.map__metrics {
  color: #FFFFFF; }
  .map__metrics .metric {
    margin-top: 3.75em; }
  .map__metrics .stats-row {
    margin-bottom: 3.75em; }
  @media screen and (min-width: 48em) {
    .map__metrics .metric {
      margin-top: 5.625em; }
    .map__metrics .stats-row {
      margin-bottom: 5.625em; } }
  .map__metrics hr {
    border-color: #FFFFFF;
    margin: 1.25em auto; }
  .map__metrics--asean {
    background-color: #3A7BD5; }
    .map__metrics--asean .svg-tile {
      background-color: #00D2FF; }
  .map__metrics--se {
    background-color: #192132; }
    .map__metrics--se .svg-tile {
      background-color: #F8A61B; }
    .map__metrics--se em {
      color: #F8A61B; }
.map__mentor-quote {
  background-color: #FFFFFF; }
  .map__mentor-quote .svg-tile {
    background-color: #9C27B0; }
.map__nps {
  background-color: #EEEEEE;
  background: linear-gradient(#EEEEEE, #FFFFFF); }
  .map__nps .svg-tile {
    background-color: #00BCD4; }
  .map__nps em {
    color: #00BCD4; }
.map__footer {
  background-color: #FFFFFF;
  background-image: url(img/map-background-footer.jpg); }
  .map__footer .svg-tile {
    background-color: #E91E63; }
  .map__footer .button:hover, .map__footer .button:active,
  .map__footer .return-link:hover,
  .map__footer .return-link:active {
    color: #E91E63;
    border-color: #E91E63; }

.sehati__entry-hero {
  background-image: url(img/sehati-intro.jpg); }
.sehati__participant-quote .svg-tile {
  background-color: #E91E63; }
.sehati__profile {
  background-color: #EEEEEE;
  background-image: url(img/sehati-journey-bg.jpg); }
  .sehati__profile .profile-lead {
    margin-top: 35%;
    margin-bottom: 5.625em; }
    @media screen and (min-width: 48em) {
      .sehati__profile .profile-lead {
        margin-top: 75%; } }
  .sehati__profile .svg-tile {
    background-color: #F8A61B;
    padding: 5px 10px 10px; }
  .sehati__profile em {
    color: #00D2FF; }
.sehati__roadshows {
  background-color: #EEEEEE;
  background-image: linear-gradient(#EEEEEE, #FFFFFF); }
  .sehati__roadshows .roadshow-stop {
    background-color: #FFFFFF;
    max-width: 704px;
    margin: 1.875em auto 5.625em; }
    .sehati__roadshows .roadshow-stop:last-child {
      margin-bottom: 0; }
    .sehati__roadshows .roadshow-stop p {
      color: #484848;
      font-size: 0.8125em;
      text-align: left;
      margin: 0;
      padding: 1.15385em; }
.sehati__gallery h3 {
  margin-bottom: 1.45833em; }
.sehati__gallery .svg-tile {
  background-color: #9C27B0; }
.sehati__testimonials {
  background-color: #EEEEEE; }
.sehati__footer {
  background-color: #EEEEEE;
  background-image: linear-gradient(#EEEEEE, #FFFFFF); }
  .sehati__footer .svg-tile {
    background-color: #E91E63; }
  .sehati__footer .button:hover, .sehati__footer .button:active,
  .sehati__footer .return-link:hover,
  .sehati__footer .return-link:active {
    color: #E91E63;
    border-color: #E91E63; }
.sehati__exit-hero {
  background-color: #FFFFFF;
  background-image: url(img/sehati-end.jpg); }

/*# sourceMappingURL=featured.css.map */
