@charset "UTF-8";
/* #222222 */
/* #333333 */
/* #696969 */
/* #DDDDDD */
/* #F2F2F2 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Sans-Serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
ul, ol, li,
blockquote, cite, p, a {
  max-width: 600px; }

h2 {
  font-size: 2.11765em;
  font-weight: 900; }

p {
  font-size: 1.05882em;
  font-weight: 400; }

button {
  background: transparent;
  max-width: 220px;
  width: 90%;
  padding: 15px;
  border: 2px solid #222222;
  color: #222222;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.82353em;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  button:hover, button:focus, button:active {
    background-color: rgba(0, 0, 0, 0.2);
    color: #222222; }

#main section {
  padding: 50px 0; }
  #main section#title-card, #main section.featured, #main section.featured > .intro, #main section.testimonials {
    padding: 0; }

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: block; }

.top-bar .name {
  display: flex;
  align-items: center; }
  .top-bar .name h1 a.header-logo {
    display: block;
    width: 100px;
    height: 17px;
    background: url(../img/magic-logo-white-100.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0.9375rem; }

#title-card .map-header {
  background: #56b68b; }
#title-card .sehati-header {
  background: #638BD8; }
#title-card .ma2015-header {
  background: #4D4170; }
#title-card .map-header, #title-card .sehati-header, #title-card .ma2015-header {
  padding: 100px 0; }
  #title-card .map-header button, #title-card .sehati-header button, #title-card .ma2015-header button {
    margin-top: 50px;
    border-color: white;
    color: white; }
    #title-card .map-header button:hover, #title-card .map-header button:focus, #title-card .map-header button:active, #title-card .sehati-header button:hover, #title-card .sehati-header button:focus, #title-card .sehati-header button:active, #title-card .ma2015-header button:hover, #title-card .ma2015-header button:focus, #title-card .ma2015-header button:active {
      background-color: rgba(255, 255, 255, 0.2); }
#title-card h2, #title-card p {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  #title-card h2 span, #title-card p span {
    font-style: italic;
    color: #F8D637; }
#title-card h2 {
  margin: 15px 0 30px;
  line-height: 1.2; }
#title-card p {
  margin: 0;
  line-height: 1.4; }
#title-card .slick-dots {
  bottom: 0;
  margin: 0 auto 25px;
  max-width: 100%; }
  #title-card .slick-dots li {
    margin: 0 2px; }
    #title-card .slick-dots li button:before {
      color: white;
      font-size: 9px; }
@media only screen and (min-width: 40.063em) {
  #title-card .map-header, #title-card .sehati-header, #title-card .ma2015-header {
    height: 640px; }
  #title-card h2 {
    font-size: 2.82353em; }
  #title-card p {
    font-size: 1.17647em; } }

.slick-slider {
  margin-bottom: 0; }

section.featured section.intro {
  padding: 0; }
  section.featured section.intro .wrapper {
    width: 100%;
    max-width: 1920px; }
  section.featured section.intro .row {
    max-width: 1920px; }
  section.featured section.intro .panel {
    border: none;
    margin-bottom: 0; }
  section.featured section.intro .main-panel {
    background: white bottom right no-repeat;
    padding: 100px 5%; }
    section.featured section.intro .main-panel h2 {
      margin-bottom: 30px;
      line-height: 1.2; }
    section.featured section.intro .main-panel p {
      line-height: 1.4; }
    section.featured section.intro .main-panel button {
      margin-top: 50px; }
  section.featured section.intro .columns > .row {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    section.featured section.intro .columns > .row .panel {
      color: white; }
  @media only screen and (min-width: 40.063em) {
    section.featured section.intro .columns > .row {
      display: flex; } }
  @media only screen and (min-width: 64.063em) {
    section.featured section.intro .row {
      display: flex; } }

#map h2:before, #sehati h2:before, #ma2015 h2:before {
  font-family: FontAwesome;
  margin-right: 15px; }

#map h2:before {
  content: "\f201"; }

#sehati h2:before {
  content: "\f21e"; }

#ma2015 h2:before {
  content: "\f19d"; }

section#map .columns > .row:nth-child(1) > .panel:nth-child(1) {
  background: #0D1B2A; }
section#map .columns > .row:nth-child(1) > .panel:nth-child(2) {
  background: #f2f2f2;
  color: #258EA6; }
section#map .columns > .row:nth-child(1) > .panel:nth-child(3) {
  background: #F8D637;
  color: #E84A90; }
section#map .columns > .row:nth-child(2) > .panel:nth-child(1) {
  background: #003459; }
section#map .columns > .row:nth-child(2) > .panel:nth-child(2) {
  background: #258EA6; }
section#map .columns > .row:nth-child(3) > .panel:nth-child(1) {
  background: #9097C0; }
section#map .columns > .row:nth-child(3) > .panel:nth-child(2) {
  background: #310A31; }

section#sehati .columns > .row:nth-child(1) > .panel:nth-child(1) {
  background: #003459; }
section#sehati .columns > .row:nth-child(1) > .panel:nth-child(2) {
  background: #258EA6; }
section#sehati .columns > .row:nth-child(1) > .panel:nth-child(3) {
  background: #638BD8; }
section#sehati .columns > .row:nth-child(2) > .panel:nth-child(1) {
  background: #F8D637;
  color: #4D4170; }
section#sehati .columns > .row:nth-child(2) > .panel:nth-child(2) {
  background: #f2f2f2;
  color: #E84A90; }
section#sehati .columns > .row:nth-child(3) > .panel:nth-child(1) {
  background: #310A31; }
section#sehati .columns > .row:nth-child(3) > .panel:nth-child(2) {
  background: #E84A90; }
section#sehati .columns > .row:nth-child(3) > .panel:nth-child(3) {
  background: #9097C0;
  color: #310A31; }

section#ma2015 .columns > .row:nth-child(1) > .panel:nth-child(1) {
  background: #0D1B2A; }
section#ma2015 .columns > .row:nth-child(1) > .panel:nth-child(2) {
  background: #f2f2f2;
  color: #258EA6; }
section#ma2015 .columns > .row:nth-child(1) > .panel:nth-child(3) {
  background: #F8D637;
  color: #E84A90; }
section#ma2015 .columns > .row:nth-child(2) > .panel:nth-child(1) {
  background: #003459; }
section#ma2015 .columns > .row:nth-child(2) > .panel:nth-child(2) {
  background: #258EA6; }
section#ma2015 .columns > .row:nth-child(3) > .panel:nth-child(1) {
  background: #9097C0; }
section#ma2015 .columns > .row:nth-child(3) > .panel:nth-child(2) {
  background: #310A31; }

section.testimonials > div {
  text-align: center; }
  section.testimonials > div .p-one {
    background-color: #4D4170; }
  section.testimonials > div .p-two {
    background-color: #258EA6; }
  section.testimonials > div blockquote, section.testimonials > div cite {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  section.testimonials > div blockquote {
    border-left: none;
    font-size: 1.2em;
    line-height: 1.4;
    font-weight: 300;
    quotes: "“" "”" "‘" "’"; }
    section.testimonials > div blockquote em {
      font-weight: 700; }
    section.testimonials > div blockquote:before {
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.15em;
      vertical-align: -0.4em; }
  section.testimonials > div cite {
    display: block;
    margin-bottom: 100px; }
  section.testimonials > div img {
    width: 150px;
    border-radius: 75px;
    border: 3px solid white;
    margin: 50px auto 25px; }
section.testimonials .slick-dots {
  bottom: 0;
  margin: 0 auto 25px;
  max-width: 100%; }
  section.testimonials .slick-dots li {
    margin: 0 2px; }
    section.testimonials .slick-dots li button:before {
      color: white;
      font-size: 9px; }
section.testimonials .slick-slider {
  margin-bottom: 0; }

.metrics .panel {
  text-align: center;
  padding: 2.25rem 1.25rem;
  display: flex;
  align-items: center; }
  .metrics .panel > div {
    margin: 0 auto; }
  @media screen and (min-width: 40.063em) {
    .metrics .panel {
      padding: 3rem 1.25rem; } }
.metrics .text-panel {
  padding-bottom: 3rem; }
  @media screen and (min-width: 40.063em) {
    .metrics .text-panel {
      text-align: left;
      padding: 5rem 1.25rem; }
      .metrics .text-panel i {
        display: none; } }
.metrics span.figure, .metrics span.metric {
  display: block; }
.metrics span.figure {
  font-size: 3em;
  font-weight: 900; }
.metrics span.metric {
  line-height: 1.4; }
.metrics em {
  font-weight: 700; }

section.cta {
  background: #dddddd; }
  section.cta p {
    font-size: 1.64706em;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 50px; }
    section.cta p span {
      font-weight: 600;
      font-style: italic; }

section#whatwedid {
  background: #f2f2f2;
  text-align: center; }
  section#whatwedid h2 {
    margin: 0 auto 50px; }
    @media screen and (min-width: 64.063em) {
      section#whatwedid h2 {
        margin: 50px auto 100px; } }
  section#whatwedid .panel {
    background: white;
    border-radius: 5px;
    padding: 35px; }
    section#whatwedid .panel i, section#whatwedid .panel span.figure, section#whatwedid .panel span.metric {
      display: block; }
    section#whatwedid .panel i {
      font-size: 2.4em; }
    section#whatwedid .panel i, section#whatwedid .panel h3 {
      margin-bottom: 15px; }
    section#whatwedid .panel p, section#whatwedid .panel span.metric {
      margin-bottom: 35px; }
    section#whatwedid .panel h3, section#whatwedid .panel span.figure {
      font-weight: 700;
      font-size: 1.76471em; }

.didyouknow#didyouknow-1 {
  background: #258EA6;
  color: white; }
  .didyouknow#didyouknow-1 a {
    color: white; }
.didyouknow#didyouknow-2 {
  background: #F8D637;
  color: #E84A90; }
  .didyouknow#didyouknow-2 a {
    color: #E84A90; }
.didyouknow#didyouknow-3 {
  background: #f2f2f2;
  color: #310A31; }
  .didyouknow#didyouknow-3 a {
    color: #310A31; }
.didyouknow small, .didyouknow strong, .didyouknow a {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
.didyouknow small {
  font-size: 1.05882em;
  font-weight: 400; }
.didyouknow strong {
  font-size: 2.11765em;
  font-weight: 700;
  line-height: 1.2;
  margin: 5px 0 15px; }
.didyouknow a:hover, .didyouknow a:focus, .didyouknow a:active {
  color: inherit; }

section#startupfairytales h2, section#startupfairytales p,
section#ecosystemrole h2,
section#ecosystemrole p,
section#lovenotes h2,
section#lovenotes p,
section#share h2,
section#share p {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
section#startupfairytales h2,
section#ecosystemrole h2,
section#lovenotes h2,
section#share h2 {
  font-weight: 700;
  line-height: 1.2; }
section#startupfairytales p,
section#ecosystemrole p,
section#lovenotes p,
section#share p {
  font-weight: 300;
  line-height: 1.5; }
section#startupfairytales hr,
section#ecosystemrole hr,
section#lovenotes hr,
section#share hr {
  max-width: 50px;
  border: solid #dddddd;
  border-width: 6px 0 0;
  margin: 25px auto 50px;
  border-radius: 3px; }

section#startupfairytales {
  background: #f2f2f2; }
  section#startupfairytales h2 {
    color: #56b68b; }
  section#startupfairytales p {
    color: #333333; }
  section#startupfairytales h4 {
    font-weight: 700; }
  section#startupfairytales .panel {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
    background: white;
    border: 1px solid #dddddd;
    border-radius: 0 0 5px 5px; }
    section#startupfairytales .panel p {
      text-align: left; }
  section#startupfairytales .panel-img {
    border: none;
    background: #dddddd;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0; }
    section#startupfairytales .panel-img img {
      border-radius: 5px 5px 0 0; }
  section#startupfairytales .row > div:nth-child(1) {
    padding: 0; }
  @media screen and (min-width: 40.063em) {
    section#startupfairytales .panel-img, section#startupfairytales .panel, section#startupfairytales .panel img {
      border-radius: 5px; }
    section#startupfairytales .panel-img {
      margin-bottom: 1.25rem; }
    section#startupfairytales .row {
      display: flex; }
    section#startupfairytales #waterbnb .panel-img {
      margin-right: 1.25rem; }
    section#startupfairytales #cattermark .panel-img {
      margin-left: 1.25rem; } }
  @media screen and (min-width: 64.063em) {
    section#startupfairytales h4 {
      font-size: 1.88235em;
      margin-bottom: 25px; } }

section#ecosystemrole h2 {
  color: #638BD8; }
section#ecosystemrole .panel {
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }
section#ecosystemrole .slick-dots {
  bottom: 0;
  margin: 0 auto 50px;
  max-width: 100%; }
  section#ecosystemrole .slick-dots li {
    margin: 0 2px; }
    section#ecosystemrole .slick-dots li button:before {
      font-size: 9px; }

section#lovenotes h2 {
  color: #E84A90; }

section#share {
  background: #333333; }
  section#share h2, section#share p {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  section#share .panel {
    display: flex;
    align-items: center;
    justify-content: center; }
  section#share .row > a:nth-child(1) > .panel {
    border-radius: 15px 0 0 15px; }
  section#share .row > a:nth-child(3) > .panel {
    border-radius: 0 15px 15px 0; }
  section#share .fa {
    font-size: 2em; }
  section#share .fa-large {
    font-size: 6em; }

/*# sourceMappingURL=side.css.map */
