/* mixins & functions*/

	$head-sans-serif: 'Raleway', 'Helvetica', sans-serif;
	// weights: 300,500,600
	$body-sans-serif: 'Open Sans', 'Helvetica', sans-serif;
	// weights: 400,700

	$darkgrey: #333333; 
	$grey: #484848;

	$lightblue: #00d2ff;
	$lightpink: #E66A6F;
	
	// $background-gradient-top: #1BC1DB;
	// $background-gradient-bottom: #fc00ff;
	// $timebox-accent: #1BC1DB;
	// $timebox-accent-highlight: #f8a61b;
	// $timebox-background: #daf6fc;
	// $timebox-background-highlight: white;
	// $timebox-date: #00a6c9;
	// $timebox-date-border: 4px solid #00a6c9;

	$background-gradient-top: #00d2ff;
	$background-gradient-bottom: #3a7bd5;
	$timebox-accent: #1BC1DB;
	$timebox-accent-highlight: #f8a61b;
	$timebox-background: #daf6fc;
	$timebox-background-highlight: white;
	$timebox-date: #1BC1DB;
	$timebox-date-border: 4px solid white;

	$medium-screen: 35.250em; /* about 564px */
	$large-screen: 48.125em; /* about 770px */
	$max-width: 66.25em; /* about 1060px */

	$browser-context: 16;
	@function em($pixels, $context: $browser-context) {
		@return #{$pixels/$context}em;
	}

	@mixin font-smoothing {
		-webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}

	@mixin linear-gradient($direction, $color-stops...) {
		background: nth(nth($color-stops, 1), 1);
		background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
		background: linear-gradient($direction, $color-stops);
	}

/* clearfix */

	#header .holder:after,
	.time-line .time-holder:after,
	.add-info .holder:after,
	.add-info .cols:after,
	.icos-boxes:after,
	.text-cols:after,
	.text-cols .num-box:after,
	.gallery .tab-box .text-row:after,
	.graff-lines > li:after,
	.logos-cols:after {
	    content: " ";
	    display: block;
	    clear: both;
	}

/* resets */

	#nav,
	#nav > li,
	#nav ul,
	#nav ul li,
	.text-cols ul,
	.text-cols ul li,
	.gallery .gallery-holder ul,
	.legend,
	.timeline,
	.timeline li,
	.graff-lines,
	.graff-lines > li,
	.sponsors ul,
	.logos,
	.faqs-list {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	html {
	    box-sizing: border-box;
	}

	*,
	*:before,
	*:after {
	    box-sizing: inherit;
	}

	* {
	    max-height: 1000000px;
	}

	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	main,
	nav,
	section,
	summary {
	    display: block;
	}

	img {
	    border-style: none;
	    max-width: 100%;
	    height: auto;
	}

	form,
	fieldset {
	    margin: 0;
	    padding: 0;
	    border-style: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="file"],
	input[type="submit"] {
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    cursor: pointer;
	}

	textarea {
	    overflow: auto;
	    resize: vertical;
	    vertical-align: top;
	}

	input[type="checkbox"],
	input[type="radio"] {
	    padding: 0;
	}

	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
	    -webkit-appearance: none;
	}

/* document styling */

	body {
		font-family: $body-sans-serif;
		font-size: em(16);
		font-weight: 400;
		line-height: 1.4em;

	    color: $darkgrey;
	    background: white;

	    min-width: 320px;
	    margin: 0;
	    -webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: none;
	}

	a {
	    text-decoration: underline;
	    color: $darkgrey;
	}

	a:hover {
	    text-decoration: none;
	}

	input,
	textarea,
	select {
	    font-family: $body-sans-serif;
	    color: $darkgrey;
	    vertical-align: middle;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
	    margin: 0;
	    padding: 4px 7px;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border: 1px solid #999999;
	}

	input[type="text"]:focus,
	input[type="tel"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	textarea:focus {
	    border-color: #4d4d4d;
	}

	.section {
		padding: 6em 0 4em;
		.wrapper {
			max-width: $max-width;
			width: 95%;
			margin: 0 auto;
		}
	}

	.panel {
        margin: 0.375em;
        padding: 2.5em 1.875em;
        border-radius: 0.5em;
        text-align: center;
    }

	h1, h2, h3, h4, h5, h6 {
	    font-family: $head-sans-serif;
	    font-weight: 300;
	    line-height: 1.2em;
	    margin: 0 0 1.2em;
	}

	// @media only screen and (max-width: 767px) {
	// 	.faq h2, .add-sponsors h2, .sponsors-section h2, .graff-box h2, .gallery-section h2, .about-boxes h2, .add-text-section h2, .add-section h2 {
	//         font-size: 30px;
	//         line-height: 34px;
	//     }
	// }

	h2 {
		font-size: em(36);
	}

	p {
		font-family: $body-sans-serif;
		font-weight: 400;
		line-height: 1.5em;
	    margin: 0 0 1.2em;
	}

	q {
	    quotes: none;
	}

	q:before,
	q:after {
	    content: "";
	    content: none;
	}

	sub,
	sup {
	    font-size: 75%;
	    line-height: 0;
	    position: relative;
	    vertical-align: baseline;
	}

	sup {
	    top: -.5em;
	}

	sub {
	    bottom: -.25em;
	}

	table {
	    border-collapse: collapse;
	    border-spacing: 0;
	}

/* icons */	

	@font-face {
	    font-family: "icomoon";
	    src: url("../fonts/icomoon.eot?-5fycdm");
	    src: url("../fonts/icomoon.eot?#iefix-5fycdm") format("embedded-opentype"), url("../fonts/icomoon.woff?-5fycdm") format("woff"), url("../fonts/icomoon.ttf?-5fycdm") format("truetype"), url("../fonts/icomoon.svg?-5fycdm#icomoon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"] {
	    font-family: "icomoon";
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}

	.icon-cross:before {
	    content: "\e615";
	}

	.icon-arrow-circle-right:before {
	    content: "\e614";
	}

	.icon-arrow-down2:before {
	    content: "\e616";
	}

	.icon-arrow-down:before {
	    content: "\e600";
	}

	.icon-arrow-right:before {
	    content: "\e612";
	}

	.icon-grill:before {
	    content: "\e601";
	}

	.icon-chat:before {
	    content: "\e602";
	}

	.icon-notebook:before {
	    content: "\e603";
	}

	.icon-town:before {
	    content: "\e604";
	}

	.icon-play:before {
	    content: "\e605";
	}

	.icon-eye:before {
	    content: "\e606";
	}

	.icon-rocket:before {
	    content: "\e607";
	}

	.icon-people:before {
	    content: "\e608";
	}

	.icon-men:before {
	    content: "\e609";
	}

	.icon-women:before {
	    content: "\e60a";
	}

	.icon-news:before {
	    content: "\e60b";
	}

	.icon-date:before {
	    content: "\e60c";
	}

	.icon-cover:before {
	    content: "\e60d";
	}

	.icon-dashboard:before {
	    content: "\e60e";
	}

	.icon-robot:before {
	    content: "\e60f";
	}

	.icon-idea:before {
	    content: "\e610";
	}

	.icon-folk:before {
	    content: "\e611";
	}

	.icon-arrow-left:before {
	    content: "\e613";
	}

/* #header & nav */

	#header {
	    position: fixed;
	    left: 0;
	    top: 0;
	    z-index: 10;
	    width: 100%;
	    background: rgba(255, 255, 255, 0.95);
	    border-bottom: 1px solid #d8d8d8;
	    .holder {
	        max-width: 1054px;
	        margin: 0 auto;
	        padding: 20px 15px 5px;
	        @media screen and (min-width: 768px) {
	        	padding: 20px 15px 0;
	        }
	    }
	    .logo {
	        float: left;
	        margin: 0 11px 0 0;
	        img {
	            vertical-align: top;
	        }
	    }
	}

	#nav {
	    text-transform: uppercase;
	    font-size: 13px;
	    line-height: 15px;
	    float: left;
	    margin: 1px -39px 0 0;
	    > li {
	        float: left;
	        margin: 0 39px;
	        padding: 0 0 20px;
	        position: relative;
	        &.active > a {
	            color: $darkgrey;
	        }
	        > a {
	            color: #999;
	            text-decoration: none;
	            &:hover {
	                color: $darkgrey;
	            }
	        }
	        &.hover > ul {
	            display: block;
	        }
	        @media only screen and (max-width: 1023px) {
	            margin: 0 12px;
	        }
	    }
	    ul {
	        position: absolute;
	        top: 100%;
	        border: 1px solid #d8d8d8;
	        background: rgba(255, 255, 255, 0.95);
	        width: 180px;
	        left: 50%;
	        margin: 0 0 0 -90px;
	        text-transform: none;
	        padding: 10px 0 12px;
	        font-size: 12px;
	        display: none;
	        li {
	            margin: 0 0 2px;
	        }
	        a {
	            display: block;
	            color: #999;
	            text-decoration: none;
	            padding: 7px 17px;
	            &:hover {
	                color: $darkgrey;
	            }
	        }
	    }
		@media only screen and (max-width: 767px) {
			margin: 0;
	        float: none;
	        > li {
	            float: none;
	            margin: 0;
	            padding: 0;
	            > a {
	                display: block;
	                padding: 10px 10px;
	                font-weight: bold;
	            }
	        }
	        ul {
	            position: static;
	            margin: 0;
	            width: auto;
	            font-size: 13px;
	        }
		}
	}

	.nav-opener {
	    width: 31px;
	    height: 31px;
	    background: $darkgrey;
	    background: rgba(0, 0, 0, 0.7);
	    position: relative;
	    border-radius: 3px;
	    text-indent: -9999px;
	    overflow: hidden;
	    display: none;
	    float: right;
	    margin: -9px 0 5px;
	    outline: none;
	    &:before, &:after, span {
	        background: white;
	        border-radius: 4px;
	        position: absolute;
	        top: 16px;
	        left: 25%;
	        right: 25%;
	        height: 3px;
	        margin-top: -2px;
	        -webkit-transition: all .2s linear;
	        transition: all .2s linear;
	    }
	    &:before {
	        content: "";
	        top: 10px;
	    }
	    &:after {
	        content: "";
	        top: 10px;
	        top: 22px;
	    }
	    @media only screen and (max-width: 767px) {
	        display: block;
	    }
	}

	.nav-active .nav-opener span {
	    opacity: 0;
	}

	.nav-opener:hover {
	    opacity: .9;
	}

	.nav-active .nav-opener {
	    &:after, &:before {
	        -webkit-transform: rotate(45deg);
	        -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	        top: 16px;
	        left: 15%;
	        right: 15%;
	    }
	    &:after {
	        -webkit-transform: rotate(-45deg);
	        -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	    }
	}

	.nav-opener {
	    &:before, &:after, span {
	        background: white;
	    }
	}

	@media only screen and (max-width: 767px) {
	    .nav-box {
	        position: absolute;
	        left: 0;
	        top: 100%;
	        overflow: hidden;
	        width: 100%;
	        z-index: 100;
	        max-height: 0;
	        -webkit-transition: all .25s linear;
	        transition: all .25s linear;
	        padding: 0;
	    }
	    .nav-active .nav-box {
	        max-height: 4000px;
	    }
	    .nav-box .nav-holder {
	        position: static;
	        -webkit-transition: all .25s linear;
	        transition: all .25s linear;
	        -webkit-transform: translateY(-100%);
	        -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
	        background: rgba(255, 255, 255, 0.95);
	    }
	    .nav-active .nav-box .nav-holder {
	        -webkit-transform: translateY(0);
	        -ms-transform: translateY(0);
	        transform: translateY(0);
	    }
	}

/* .ceo-note */

	.ceo-note {
	    background: url(img/bg-entry-image.jpg) no-repeat;
	    background-size: cover;
	    background-position: center;
	    color: $grey;

	    .holder {
	        display: table;
	        width: 100%;
	        .frame {
	            vertical-align: middle;
	            width: 100%;
	            display: table-cell;
	            padding: 8em 0 4em;
	        }
	        .frame2 {
	            max-width: $large-screen;
	            margin: 0 auto;
	            padding: 0 1em;
	            text-align: center;
	        }
	        @media only screen and (min-width: $large-screen) {
	        	height: auto !important;
	        	.frame {
	        		padding: 10em 0 6em;
	        	}
	        }
	    }

	    .logo-box img {
	    	width: 160px;
	    }

	    h1 {
	    	font-size: em(40);
	    	margin: 0.5em 0 1em;
	    }

	    @media only screen and (min-width: $large-screen) {
	    	.logo-box img {width: 185px;}
	    	h1 {font-size: em(48);}
	    }

	    h2 {
	        font-size: em(24);
	        margin: 0;
	        font-weight: 600;
	    }

	    .note-text {
	    	padding: 1em 1em 2.5em;
	    	p {
	    		font-size: em(15);
	    	}
	    }

	    .btn-row {
	        padding: 1em 0 0;

	        a {
	            text-decoration: none;
	            color: $darkgrey;
	            font-size: em(26);
                @media only screen and (min-width: $large-screen) {
					font-size: em(45);
                }
	        }
	    }
	}

/* .callout-section */

	.callout-section {
	    background: $lightblue;
	    text-align: center;
	    color: white;

	    .panel {
	    	padding: 0;	
	    	border: 1px solid #daf6fc;
	    	.top-bar {
	    		background: $darkgrey;
	    		border-radius: 0.5em 0.5em 0 0;
	    		padding: 2.25em 1.75em;
	    		h3 {
	    			margin: 0;
	    			@include font-smoothing;
	    			font-weight: 500;
	    			em {
	    				font-size: em(24);
	    			}
	    			hr {    
	    				width: 2.25em;
					    margin: 1.25em auto;
					}
	    		}
	    	}
			div:nth-child(2) {
				height: 300px;
				border-radius: 0 0 0.5em 0.5em;
				background-repeat: no-repeat;
			}
	    	.callout-ma2015 {
	    		background: url(img/callout-ma2015.jpg);
			    background-position: right -240px;
	    	}
	    	.callout-sehati {
	    		background: url(img/callout-sehati.jpg);
    		    background-position: 0 -325px;
	    	}
	    	.callout-map {
	    		background: url(img/callout-map-alt.jpg);
    		    // background-position: 0 -190px;
    		    background-position: 0 -70px;
	    	}
	    	@media only screen and (min-width: $medium-screen) {
	    	.top-bar {
	    		min-height: 18.75em;
			    display: flex;
			    align-items: center;
	    	}	
	    		div:nth-child(2) {
	    			height: 25em;
	    			background-size: cover;
	    			background-position: 0 0;
	    		}
	    	}
	    	@media only screen and (min-width: $large-screen) {
	    		div:nth-child(2) {
	    			height: 35em;
	    		}
	    	}
	    }

	    @media only screen and (min-width: $medium-screen) {
	        .group {
	            display: flex;
	        }
	        .col {
	            flex: 1;
	        }
	    }
	}

/* .founding-of-magic */

	.founding-of-magic {
	    background: $lightpink;
	    color: white;
	    h2 {
	    	text-align: center;
	    	margin-bottom: 3.875em;
	    }
	}

	/*. time-line */

	.time-line {
	    padding: 35px 7px 0 3px;
	    position: relative;
	    color: white;
	    font-size: 16px;
	    line-height: 26px;
	    @include font-smoothing;

	    p {
	    	font-weight: 500;
	    	font-size: 1.063em;
	    }

	    &:before {
	        position: absolute;
	        left: 70px;
	        top: 0;
	        right: 7px;
	        height: 2px;
	        background: white;
	        content: "";
	    }

	    &:after {
	        position: absolute;
	        right: 6px;
	        top: -6px;
	        width: 0;
	        height: 0;
	        border-style: solid;
	        border-width: 7px 0 7px 14px;
	        border-color: transparent transparent transparent white;
	        content: "";
	    }

	    .box {
	        float: left;
	        position: relative;
	        width: 200px;
	        margin: 0 54px 0 0;

	        &.last {
	            float: right;
	            margin: 0;
	        }

	        &:after {
	            position: absolute;
	            left: 50%;
	            top: -40px;
	            margin: 0 0 0 -36px;
	            background: white;
	            border-radius: 50%;
	            width: 12px;
	            height: 12px;
	            content: "";
	        }
	    }

	    .day {
	        width: 85px;
	        background: white;
	        text-align: center;
	        font-size: 16px;
	        line-height: 18px;
	        color: #e66a6f;
	        font-weight: bold;
	        padding: 7px 0 7px;
	        position: absolute;
	        left: 50%;
	        margin: 0 0 0 -71px;
	        top: -106px;

	        &:before {
	            position: absolute;
	            left: 50%;
	            bottom: -9px;
	            width: 0;
	            height: 0;
	            margin: 0 0 0 -10px;
	            border-style: solid;
	            border-width: 10px 10px 0 10px;
	            border-color: white transparent transparent transparent;
	            content: "";
	        }
	    }

	    .image {
	        display: block;
	        width: 140px;
	        border-radius: 50%;
	        margin: 0 auto;
	        overflow: hidden;
	        position: relative;
	        margin: 0 0 46px;
	        -webkit-transition: all .2s linear 0s;
	        transition: all .2s linear 0s;

	        &:hover {
	            background: $darkgrey;
	            -webkit-transform: scale(0.95);
	            -ms-transform: scale(0.95);
	            transform: scale(0.95);
	            img {
	                opacity: .5;
	            }
	        }

	        img {
	            border-radius: 50%;
	            vertical-align: top;
	            -webkit-transition: all .2s linear 0s;
	            transition: all .2s linear 0s;
	        }

	        .btn-play {
	            position: absolute;
	            left: 50%;
	            top: 50%;
	            background: rgba(0, 0, 0, 0.6);
	            border-radius: 50%;
	            width: 70px;
	            height: 70px;
	            margin: -37px 0 0 -37px;
	            font-size: 72px;
	            line-height: 72px;
	            color: rgba(255, 255, 255, 0.9);
	            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
	        }

	    }

		@media only screen and (max-width: $large-screen) {
			margin: 0 0 -70px;
	        &:before, &:after {
	            display: none;
	        }
	        .day {
	            margin: 0 0 0 -43px;
	        }
	        .last.box, .box {
	            float: none;
	            width: auto;
	            margin: 0 0 140px;
	            text-align: center;
	        }
	        .last.box .image, .box .image {
	            display: inline-block;
	            vertical-align: top;
	        }
	        .last.box:after, .box:after {
	            margin: 0 0 0 -6px;
	        }
	        .box-holder {
	            &:before {
	                position: absolute;
	                left: 0;
	                top: -35px;
	                right: 2px;
	                height: 2px;
	                background: white;
	                content: "";
	            }
	            &:after {
	                position: absolute;
	                right: 0;
	                top: -41px;
	                width: 0;
	                height: 0;
	                border-style: solid;
	                border-width: 7px 0 7px 14px;
	                border-color: transparent transparent transparent white;
	                content: "";
	            }
	        }
		}
	}

/* .mandate */

	.mandate {
	    background: #f5f5f5;
	    border-bottom: 1px solid #e6e6e6;
	    text-align: center;

	    .group {
	    	h2 {
	    		margin: 0 auto;
	    	}
	        .col {
				border-top: 6px solid $darkgrey;
				padding: 2.5em;

				h3 {
				    font-size: em(28);
				    margin: 1.25em auto 0.5em;
				    font-weight: 600;
				}

				p {
					font-size: 1.063em;
				}

	            &.red {
	                border-color: #d5333a;
	                .ico-box, h3 {
	                    color: #d5333a;
	                }
	            }
	            &.blue {
	                border-color: #00aac5;
	                .ico-box, h3 {
	                    color: #00aac5;
	                }
	            }
	        }
	    }

	    .ico-box {
	        i {
	            font-size: 65px;
	            line-height: 70px;
	        }
	    }

	    @media screen and (min-width: $large-screen) {
	    	.group {
	    		display: flex;
	    		h2 {
	    			font-size: 3.25em;
	    			text-align: left;
	    		}
	    		.col {
		    		flex: 1;
		    		padding: 2.5em 0;
		    		margin: 0 2em;
		    	}
	    	}
	    }
	}

/* .core-activities */

	.core-activities {

	    h2 {
	    	text-align: center;
	    }

	    h4 {
			font-size: em(24);
			text-align: center;
			margin-top: 2em;
	    }

	    .group {
		    .col {
		        border-top: 6px solid #66a944;
		        padding: 2.5em 1.5em;

		        .num-box {
		        	display: flex;
		        	align-items: center;
		        	margin-bottom: 2.25em;
		        }

		        h3 {
		        	font-weight: 600;
		        	font-size: em(24);
		        	color: #66a944;
		        	margin: 0;
		        }

		        .num {
		        	flex: 0 0 54px;
		            width: 54px;
		            height: 54px;
		            border-radius: 50%;
		            background: #66a944;
		            color: white;
		            font-size: em(28);

		            font-style: italic;
	                display: flex;
				    align-items: center;
				    justify-content: center;
				    margin-right: 0.75em;
				    padding-right: 6px;
		        }

		        &.yellow {
		            border-color: #f8a61b;
		            h3 {color: #f8a61b;}
		            .num {background-color: #f8a61b;}
		        }
		        &.red {
		            border-color: #ef5b24;
		            h3 {color: #ef5b24;}
		            .num {background-color: #ef5b24;}
		        }

		        ul {
		        	font-size: 1.125em;
		        	line-height: 1.5;
		        	li {
		        		margin-bottom: 0.5em;
		        		@media screen and (min-width: $medium-screen) {
		        			margin-bottom: 0;
		        		}
		        	}
		        }
		    }

		}

	    @media screen and (min-width: $large-screen) {
	    	.group {
	    		margin: 4em auto 6em;
	    		display: flex;
	    		.col {
		    		flex: 1;
		    		padding: 2.5em 0;
		    		margin: 0 1em;
		    	}
	    	}
	    }

		.icos-boxes {
		    border: 1px solid #bbbfc3;
		    color: #bbbfc3;

		    text-align: center;
		    position: relative;
			margin: 0 0 8.75em;

			@media screen and (min-width: $large-screen) {
				margin: 0 0 11.25em;
			}

		    h5 {
		    	font-size: em(24);
		    	font-weight: 600;
		    }

		    .holder {
		        overflow: hidden;
		        position: relative;

		        .box {
			        height: 178px;
			        float: left;
			        cursor: pointer;
			        width: 100%;
		            border-bottom: 1px solid #bbbfc3;
	                margin-bottom: -1px;

			        @media screen and (min-width: $medium-screen) {
						width: 50%;
						border-left: 1px solid #bbbfc3;
			        }

			        &.active .slide-box {
			            -webkit-transform: translateX(0);
			            -ms-transform: translateX(0);
			            transform: translateX(0);
			        }
			    }

			    .box-holder {
		            padding: 2em 0;
		        }

		        .slide-box {
			        position: absolute;
			        right: 0;
			        top: 0;
			        bottom: 0;
			        left: 0;
			        background: #f9f9f9;
			        z-index: 4;

			        -webkit-transform: translateX(-130%);
			        -ms-transform: translateX(-130%);
			        transform: translateX(-130%);
			        -webkit-transition: -webkit-transform .25s linear 0s;
			        transition: transform .25s linear 0s;
			        display: block;

			        cursor: default;

			        &.right {
			            -webkit-transform: translateX(130%);
			            -ms-transform: translateX(130%);
			            transform: translateX(130%);
			        }

			        .close {
			            position: absolute;
			            right: 13px;
			            top: 13px;
			            text-decoration: none;
			            font-size: em(16);
			            line-height: 1;
			        }

			        .col {
			            color: $darkgrey;
			            padding: 2em 0 0;
			        }

			        &.right .col {
			        	padding: 4em 0 0;
			        }

			        .area {
			            overflow: hidden;
			            color: $darkgrey;
			            font-size: em(15);
			            padding: 0 2em;
			        }

			        @media only screen and (min-width: $medium-screen) {
			        	display: flex !important;
		        	    align-items: center;
			            .area, .col {
			            	flex: 1;
			            }
			            &.right .col {
			            	padding: 2em 0 0;
			            }
			            .area {
			            	text-align: left;
			            }
			        }
			    }

			    .ico {
			        font-size: 60px;
			        line-height: 70px;
			        margin: 0 0 20px;

			        .ico-box {
				        display: inline-block;
				        vertical-align: top;
				        position: relative;
				        font-size: 48px;
				        margin: 7px 10px -7px;
				    }

				    .icon-news {
				        position: absolute;
				        right: -12px;
				        top: -20px;
				        font-size: 28px;
				        line-height: 26px;
				    }
			    }
		    }

		    .click-box {
		        position: absolute;
		        left: 50%;
		        margin: 0 0 0 -130px;
		        bottom: -110px;
		        img {
		            vertical-align: top;
		        }
		    }
		}
	}

/* .what-we-did */

	.what-we-did {
	    // background: $lightblue;
	    // electric violet
	    // background-image: linear-gradient(#4776E6, #8E54E9);
	    // timber
	    // background-image: linear-gradient(#00dbde,#fc00ff);
	    background-image: linear-gradient($background-gradient-top,$background-gradient-bottom);
	    text-align: center;
	    h2 {
	        color: white;
	    }
	}

	.time-boxes {
        margin: 0 auto;
        text-align: center;
        padding: 5em 0 0;
        position: relative;

		// timeline css
	    &:before {
	        position: absolute;
	        left: 50%;
	        top: 0;
	        width: 3px;
	        bottom: 626px;
	        background: white;
	        content: "";
	    }

	    .data-box {
			position: relative;

	        border-radius: 8px;
	        background: $timebox-background;
	        max-width: 380px;

	        margin: 1.25em auto 7.5em;
	        padding: 2.5em 1.875em;
	        font-size: em(16);
			
	        &.hover {
	            background: $timebox-background-highlight;
	            &:before {
	                border-color: transparent transparent transparent $timebox-background-highlight;
	            }
	            .ico {
	                color: $timebox-accent-highlight;
	                img {
	                    display: none;
	                }
	                .hover {
	                    display: inline;
	                }
	            }
	        }

	        .date {
	        	right: auto;
                left: 50%;
                top: -100px;
                margin: 0 0 0 -40px;
	            position: absolute;

	            width: 80px;
	            height: 80px;
	            border-radius: 50%;

	            border: $timebox-date-border;
	            background: white;
	            text-align: center;
	            font-size: 0.688em;

	            line-height: 80px;
	            text-transform: uppercase;

	            font-weight: 600;
	            color: $timebox-date;

	            &:before {
	                content: "\e60c";
	                font-family: "icomoon";
	                position: absolute;
	                left: 17px;
	                top: 16px;
	                color: $timebox-date;
	                font-size: 36px;
	                line-height: 40px;
	            }
	        }

	        .ico {
	            text-align: center;
	            font-size: 62px;
	            line-height: 70px;
	            color: $timebox-accent;
	            margin: 0 0 11px;

	            img {
	                vertical-align: top;
	            }
	            .hover {
	                display: none;
	            }
	        }
	        .icon-grill {
	            font-size: 87px;
	            margin: -10px 0 5px;
	            display: inline-block;
	            vertical-align: top;
	        }
	        .icon-idea {
	            font-size: 54px;
	        }
	        .icon-notebook {
	            font-size: 53px;
	        }
	        .icon-dashboard {
	            font-size: 74px;
	        }
	        .icon-folk, .icon-robot {
	            font-size: 74px;
	            margin: -10px 0 6px;
	            display: inline-block;
	            vertical-align: top;
	        }
	        h3 {
	            font-size: 24px;
	            line-height: 30px;
	            color: $darkgrey;
	            margin: 0 0 15px;
	            font-weight: 600;
	        }
	        p {
	            margin: 0 0 19px;
	        }
	        .count {
	            font-size: 48px;
	            line-height: 50px;
	            font-weight: bold;
	            margin: 0 0 11px;
	        }
	        .btn-box {
	            text-align: center;
	            padding: 23px 0 0;
	        }
	        .btn {
	            display: inline-block;
	            vertical-align: top;
	            border: 2px solid $darkgrey;
	            font-size: 13px;
	            line-height: 15px;
	            text-decoration: none;
	            padding: 12px 12px 11px;
	            text-transform: uppercase;
	            font-weight: bold;
	        }
	    }

	    @media only screen and (min-width: 1123px) {
	    	height: 7535px; 
	    	position: relative;

	    	&:before {
				margin-top: 20px;
	    	}

	    	.data-box {
				position: absolute;
		        left: 0;
		        top: 0;

		        .date {
		        	left: 531px;
		            top: 0;
		        }

		        &:before {
		        	position: absolute;
		            right: -19px;
		            top: 30px;
		            width: 0;
		            height: 0;
		            border-style: solid;
		            border-width: 18px 0 18px 20px;
		            border-color: transparent transparent transparent $timebox-background;
		            content: "";
		        }

		        &.right {
		            left: auto;
		            right: 0;

		            &:before {
		                right: auto;
		                left: -19px;
		                border-width: 18px 20px 18px 0;
		                border-color: transparent $timebox-background transparent transparent;
		            }
		            &.hover:before {
		                border-color: transparent $timebox-background-highlight transparent transparent;
		            }
		            .date {
		                right: auto;
		                left: -149px;
		            }
		        }

		        &.box2 {
		            top: 150px;
		        }
		        &.box3 {
		        	// 539 + 50
		            top: 589px;
		        }
		        &.box4 {
		        	// 150 + 501 + 130
		            top: 781px;
		        }
		        &.box5 {
		        	// 589 + 515 + 50
		            top: 1154px;
		        }
		        &.box6 {
		        	// 781 + 483 + 130
		            top: 1394px;
		        }
		        &.box7 {
		        	// 1154 + 569 + 50
		            top: 1773px;
		        }
		        &.box8 {
		        	// 1394 + 613 + 130
		            top: 2137px;
		        }
		        &.box9 {
		        	// 1773 + 637 + 50
		            top: 2460px;
		        }
		        &.box10 {
		        	// 2137 + 507 + 130
		            top: 2774px;
		        }
		        &.box11 {
		        	// 2460 + 569 + 50
		            top: 3079px;
		        }
		        &.box12 {
		        	// 2774 + 577 + 130
		            top: 3481px;
		        }
		        &.box13 {
		        	// 3079 + 599 + 130
		            top: 3808px;
		        }
		        &.box14 {
		        	// 3481 + 521 + 130
		            top: 4132px;
		        }
		        &.box15 {
		        	// 3808 + 549 + 130
		            top: 4487px;
		        }
		        &.box16 {
		        	// 4132 + 497 + 130
		            top: 4759px;
		        }
		        &.box17 {
		        	// 4487 + 575 + 130
		            top: 5192px;
		        }
		        &.box18 {
		        	// 4759 + 645 + 130
					top: 5534px;
		        }
		        &.box19 {
		        	// 5192 + 545 + 130
					top: 5867px;
		        }
		        &.box20 {
		        	// 5534 + 497 + 130
					top: 6161px;
		        }
		        &.box21 {
		        	// 5867 + 473 + 130
					top: 6470px;
		        }
		        &.box22 {
		        	// 6161 + 519 + 130
					top: 6810px;
		        }
	    	}
	    }
	}

/* footer */

	footer {
	    padding: 0 2em;
	    background: $darkgrey;

	    font-size: 0.813em;
        letter-spacing: 0.025em;
        text-decoration: none;
        color: white;

        div>div {
        	margin: 1em 0;
        }
	    a {
	        text-decoration: none;
	        color: white;
	        &:hover {
	            text-decoration: underline;
	            color: $lightblue;
	        }
	    } 
	    .clear {
	        zoom: 1;
        /* For IE 6/7 */
	        &:before {
	            content: "";
	            display: table;
	        }
	        &:after {
	            content: "";
	            display: table;
	            clear: both;
	        }
	    }
	    @media only screen and (min-width: $medium-screen) {
			.address, .contact {
		        float: left;
		        display: block;
		        width: 20%;
		        max-width: 12.5em;
		        margin-right: 2.25em;
		    }
		    .privacy {
		        text-align: right;
		    }
		}
	}

/* .ft */

	em {font-weight: 600;}
	hr {
		max-width: 6.25rem;
		border-bottom: 2px solid;
	}

	.ft-intro {
		.wrapper {
			max-width: 32.50em;
		}
		p.date {text-transform: uppercase;}
		hr {
			border-bottom: 2px solid white;
			margin: 1.563rem auto;
		}
		h1 {margin: 0.938rem 0 0;}
		h3 {
			font-size: 1.5em;
			margin: 0 0 1.563rem;
		}
		h1, h3 {font-weight: 500;}
	}

	#ft-ma2015 .ft-intro {
		color: white;
		background-color: #121212;
	}

	#ft-ma2015 .ft-intro-bg>div { 
		width: 100%;
		height: 0;
		padding: 25% 0 25%;
		background-color: #4a4a4a;
		background-image: linear-gradient(
	      rgba(0, 0, 0, 0.8),
	      rgba(0, 0, 0, 0.2)
	    ), url(img/ma2015-intro-bg.jpg);
	    background-size: 100%;
		background-repeat: no-repeat;
		text-shadow: 0 2px 4px rgba(0,0,0,0.8);
		font-size: 1.2em;
	}

	#ft-ma2015 .ft-intro-bg>div {
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
	}

	.ft-gallery {
		h2 {
			margin: 0 0 3.250rem;
		}
		img {
			padding: 0.375em;
		}
		.img-row .columns {
			padding: 0;
		}
		p {
			margin: 3.250rem 0 0;
		}
	}

	#ft-ma2015 .ft-gallery {
		background: #1BC1DB;
		color: white;
	}
	
	.ft-full-carousel {
		padding-top: 0;
		#fullscreen-carousel {
			background-color: #7a7a7a;
			background-size: 100%;
			background-repeat: no-repeat;
			width: 100%;
			padding-bottom: 48.6%;
		}
		ul.controls {
			list-style: none;
			margin-top: -35px;
			li {
				display: inline-block;
				cursor: pointer;
				margin: 0.313em;
				&:hover,
				&:focus,
				&:active {
					transform: scale(1.05);
					transition-duration: 250ms;
					transition-timing-function: ease-in-out;
					-webkit-transform: scale(1.2);
					-webkit-transition-duration: 250ms;
					-webkit-transition-timing-function: ease-in-out;
				}
				img {
					border-radius: 100%;
					border: 3px solid #FFFFFF;
				    width: 70px;
				    background-color: #FFFFFF;
				}
			}
		}
		h2 {
			margin: 2.188rem 0 3.250rem;
		}
		p {
			margin: 0 0 0.313em;
		}
		a:hover {
			color: #1BC1DB;
		}
	}

	#ft-ma2015 .ft-full-carousel {
		background: #FFFFFF;
		.content-1 {background-image: url(img/ma2015-content-1.jpg);}
		.content-2 {background-image: url(img/ma2015-content-2.jpg);}
		.content-3 {background-image: url(img/ma2015-content-3.jpg);}
		.content-4 {background-image: url(img/ma2015-content-4.jpg);}
		.content-5 {background-image: url(img/ma2015-content-5.jpg);}
		.content-6 {background-image: url(img/ma2015-content-6.jpg);}
		.content-7 {background-image: url(img/ma2015-content-7.jpg);}
		.content-8 {background-image: url(img/ma2015-content-8.jpg);}
		h2 em {
			color: #1BC1DB;
		}
	}

	#ft-ma2015 .ft-callout {
		background: linear-gradient(
		#FFFFFF, #EEEEEE);
		.columns {
			padding: 0 0.375em;
		}
		.columns>.row {
			margin: 0.375em auto;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
			padding: 0;
			.columns:nth-child(1) {
				padding: 0;
				overflow: hidden;
			}
			.columns:nth-child(2) {
				padding: 1.563em;
			}
			hr {
				margin: 1.25rem 0;
			}
			@media screen and (min-width: 64em) {
				display: flex;
				align-items: center;
			}
		}
		.columns:nth-child(1)>.row {
			background: #192132;
			color: white;
			hr {
				border-bottom: 2px solid white;
			}
			em {
				color: #FAA61A;
			}
		}
		.columns:nth-child(2)>.row {
			background: white;
			border: 1px solid #F5F5F5;
			em {
				color: #1BC1DB;
			}
		}
	}

	#ft-ma2015 .ft-testimonial {
		background-color: #EEEEEE;
		.participant {
			display: none;
		}
		.participant:nth-child(1) {
			display: block;
		}
	}

	.ft-testimonial {
		.participant iframe {
			width: 100%; 
		}
		h2 {
			margin: 0;
		}
		hr {
			margin: 1.563rem auto;
		}
		ul.testimonial-controls {
			list-style: none;
			li {
				display: inline-block;
				@media screen and (min-width: 32em) {
					display: block;
					@media screen and (min-width: 64em) {
					    margin-left: 50%;
					}
				}
				cursor: pointer;
				margin: 0.313em;
				&:hover,
				&:focus,
				&:active {
					transform: scale(1.05);
					transition-duration: 250ms;
					transition-timing-function: ease-in-out;
					-webkit-transform: scale(1.2);
					-webkit-transition-duration: 250ms;
					-webkit-transition-timing-function: ease-in-out;
				}
				img {
					border-radius: 100%;
				    width: 70px;
				    background: #FFF; 
				    border: 4px solid #FFF;
				}
			}
		}
	}

	blockquote.instagram-media {
		background: #FFF; 
		border: 0; 
		border-radius: 3px; 
		box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
		margin: 1px; 
		max-width: 658px; 
		padding: 0; 
		width: 99.375%; 
		width: -webkit-calc(100% - 2px); 
		width: calc(100% - 2px);
		&>div {
			padding: 8px;
			&>div {
				background: #F8F8F8; 
				line-height: 0; 
				margin-top: 40px; 
				padding: 50.0% 0; 
				text-align: center; 
				width: 100%;
				&>div {
					display: block; 
					height: 44px; 
					margin: 0 auto -44px; 
					position: relative; 
					top: -22px; 
					width: 44px;
				}	
			}
			p:nth-child(1) {
				margin:8px 0 0 0; 
				padding:0 4px;
				a {
					color: #000; 
					font-family: Arial,sans-serif; 
					font-size: 14px; 
					font-style: normal; 
					font-weight: normal; 
					line-height: 17px; 
					text-decoration: none; 
					word-wrap: break-word;
				}
			}
			p:nth-child(2) {
				color: #c9c8cd; 
				font-family: Arial, sans-serif; 
				font-size: 14px; 
				line-height: 17px; 
				margin-bottom: 0; 
				margin-top: 8px; 
				overflow: hidden; 
				padding: 8px 0 7px; 
				text-align: center; 
				text-overflow: ellipsis; 
				white-space: nowrap;
				a {
					color: #c9c8cd; 
					font-family: Arial,sans-serif; 
					font-size: 14px; 
					font-style: normal; 
					font-weight: normal; 
					line-height: 17px; 
					text-decoration: none;
				}
				time {
					font-family: Arial, sans-serif; 
					font-size: 14px; 
					line-height: 17px;
				}
			}
		}
	}


















