/* mixins & functions*/
/* about 564px */
/* about 770px */
/* about 1060px */
/* clearfix */
#header .holder:after,
.time-line .time-holder:after,
.add-info .holder:after,
.add-info .cols:after,
.icos-boxes:after,
.text-cols:after,
.text-cols .num-box:after,
.gallery .tab-box .text-row:after,
.graff-lines > li:after,
.logos-cols:after {
  content: " ";
  display: block;
  clear: both; }

/* resets */
#nav,
#nav > li,
#nav ul,
#nav ul li,
.text-cols ul,
.text-cols ul li,
.gallery .gallery-holder ul,
.legend,
.timeline,
.timeline li,
.graff-lines,
.graff-lines > li,
.sponsors ul,
.logos,
.faqs-list {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

img {
  border-style: none;
  max-width: 100%;
  height: auto; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* document styling */
body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  color: #333333;
  background: white;
  min-width: 320px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

a {
  text-decoration: underline;
  color: #333333; }

a:hover {
  text-decoration: none; }

input,
textarea,
select {
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #333333;
  vertical-align: middle; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  padding: 4px 7px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #999999; }

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #4d4d4d; }

.section {
  padding: 6em 0 4em; }
  .section .wrapper {
    max-width: 66.25em;
    width: 95%;
    margin: 0 auto; }

.panel {
  margin: 0.375em;
  padding: 2.5em 1.875em;
  border-radius: 0.5em;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 1.2em; }

h2 {
  font-size: 2.25em; }

p {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 1.2em; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* icons */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?-5fycdm");
  src: url("../fonts/icomoon.eot?#iefix-5fycdm") format("embedded-opentype"), url("../fonts/icomoon.woff?-5fycdm") format("woff"), url("../fonts/icomoon.ttf?-5fycdm") format("truetype"), url("../fonts/icomoon.svg?-5fycdm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cross:before {
  content: "\e615"; }

.icon-arrow-circle-right:before {
  content: "\e614"; }

.icon-arrow-down2:before {
  content: "\e616"; }

.icon-arrow-down:before {
  content: "\e600"; }

.icon-arrow-right:before {
  content: "\e612"; }

.icon-grill:before {
  content: "\e601"; }

.icon-chat:before {
  content: "\e602"; }

.icon-notebook:before {
  content: "\e603"; }

.icon-town:before {
  content: "\e604"; }

.icon-play:before {
  content: "\e605"; }

.icon-eye:before {
  content: "\e606"; }

.icon-rocket:before {
  content: "\e607"; }

.icon-people:before {
  content: "\e608"; }

.icon-men:before {
  content: "\e609"; }

.icon-women:before {
  content: "\e60a"; }

.icon-news:before {
  content: "\e60b"; }

.icon-date:before {
  content: "\e60c"; }

.icon-cover:before {
  content: "\e60d"; }

.icon-dashboard:before {
  content: "\e60e"; }

.icon-robot:before {
  content: "\e60f"; }

.icon-idea:before {
  content: "\e610"; }

.icon-folk:before {
  content: "\e611"; }

.icon-arrow-left:before {
  content: "\e613"; }

/* #header & nav */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #d8d8d8; }
  #header .holder {
    max-width: 1054px;
    margin: 0 auto;
    padding: 20px 15px 5px; }
    @media screen and (min-width: 768px) {
      #header .holder {
        padding: 20px 15px 0; } }
  #header .logo {
    float: left;
    margin: 0 11px 0 0; }
    #header .logo img {
      vertical-align: top; }

#nav {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  float: left;
  margin: 1px -39px 0 0; }
  #nav > li {
    float: left;
    margin: 0 39px;
    padding: 0 0 20px;
    position: relative; }
    #nav > li.active > a {
      color: #333333; }
    #nav > li > a {
      color: #999;
      text-decoration: none; }
      #nav > li > a:hover {
        color: #333333; }
    #nav > li.hover > ul {
      display: block; }
    @media only screen and (max-width: 1023px) {
      #nav > li {
        margin: 0 12px; } }
  #nav ul {
    position: absolute;
    top: 100%;
    border: 1px solid #d8d8d8;
    background: rgba(255, 255, 255, 0.95);
    width: 180px;
    left: 50%;
    margin: 0 0 0 -90px;
    text-transform: none;
    padding: 10px 0 12px;
    font-size: 12px;
    display: none; }
    #nav ul li {
      margin: 0 0 2px; }
    #nav ul a {
      display: block;
      color: #999;
      text-decoration: none;
      padding: 7px 17px; }
      #nav ul a:hover {
        color: #333333; }
  @media only screen and (max-width: 767px) {
    #nav {
      margin: 0;
      float: none; }
      #nav > li {
        float: none;
        margin: 0;
        padding: 0; }
        #nav > li > a {
          display: block;
          padding: 10px 10px;
          font-weight: bold; }
      #nav ul {
        position: static;
        margin: 0;
        width: auto;
        font-size: 13px; } }

.nav-opener {
  width: 31px;
  height: 31px;
  background: #333333;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  border-radius: 3px;
  text-indent: -9999px;
  overflow: hidden;
  display: none;
  float: right;
  margin: -9px 0 5px;
  outline: none; }
  .nav-opener:before, .nav-opener:after, .nav-opener span {
    background: white;
    border-radius: 4px;
    position: absolute;
    top: 16px;
    left: 25%;
    right: 25%;
    height: 3px;
    margin-top: -2px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
  .nav-opener:before {
    content: "";
    top: 10px; }
  .nav-opener:after {
    content: "";
    top: 10px;
    top: 22px; }
  @media only screen and (max-width: 767px) {
    .nav-opener {
      display: block; } }

.nav-active .nav-opener span {
  opacity: 0; }

.nav-opener:hover {
  opacity: .9; }

.nav-active .nav-opener:after, .nav-active .nav-opener:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  left: 15%;
  right: 15%; }
.nav-active .nav-opener:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-opener:before, .nav-opener:after, .nav-opener span {
  background: white; }

@media only screen and (max-width: 767px) {
  .nav-box {
    position: absolute;
    left: 0;
    top: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    max-height: 0;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    padding: 0; }

  .nav-active .nav-box {
    max-height: 4000px; }

  .nav-box .nav-holder {
    position: static;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    background: rgba(255, 255, 255, 0.95); }

  .nav-active .nav-box .nav-holder {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
/* .ceo-note */
.ceo-note {
  background: url(img/bg-entry-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #484848; }
  .ceo-note .holder {
    display: table;
    width: 100%; }
    .ceo-note .holder .frame {
      vertical-align: middle;
      width: 100%;
      display: table-cell;
      padding: 8em 0 4em; }
    .ceo-note .holder .frame2 {
      max-width: 48.125em;
      margin: 0 auto;
      padding: 0 1em;
      text-align: center; }
    @media only screen and (min-width: 48.125em) {
      .ceo-note .holder {
        height: auto !important; }
        .ceo-note .holder .frame {
          padding: 10em 0 6em; } }
  .ceo-note .logo-box img {
    width: 160px; }
  .ceo-note h1 {
    font-size: 2.5em;
    margin: 0.5em 0 1em; }
  @media only screen and (min-width: 48.125em) {
    .ceo-note .logo-box img {
      width: 185px; }
    .ceo-note h1 {
      font-size: 3em; } }
  .ceo-note h2 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 600; }
  .ceo-note .note-text {
    padding: 1em 1em 2.5em; }
    .ceo-note .note-text p {
      font-size: 0.9375em; }
  .ceo-note .btn-row {
    padding: 1em 0 0; }
    .ceo-note .btn-row a {
      text-decoration: none;
      color: #333333;
      font-size: 1.625em; }
      @media only screen and (min-width: 48.125em) {
        .ceo-note .btn-row a {
          font-size: 2.8125em; } }

/* .callout-section */
.callout-section {
  background: #00d2ff;
  text-align: center;
  color: white; }
  .callout-section .panel {
    padding: 0;
    border: 1px solid #daf6fc; }
    .callout-section .panel .top-bar {
      background: #333333;
      border-radius: 0.5em 0.5em 0 0;
      padding: 2.25em 1.75em; }
      .callout-section .panel .top-bar h3 {
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 500; }
        .callout-section .panel .top-bar h3 em {
          font-size: 1.5em; }
        .callout-section .panel .top-bar h3 hr {
          width: 2.25em;
          margin: 1.25em auto; }
    .callout-section .panel div:nth-child(2) {
      height: 300px;
      border-radius: 0 0 0.5em 0.5em;
      background-repeat: no-repeat; }
    .callout-section .panel .callout-ma2015 {
      background: url(img/callout-ma2015.jpg);
      background-position: right -240px; }
    .callout-section .panel .callout-sehati {
      background: url(img/callout-sehati.jpg);
      background-position: 0 -325px; }
    .callout-section .panel .callout-map {
      background: url(img/callout-map-alt.jpg);
      background-position: 0 -70px; }
    @media only screen and (min-width: 35.25em) {
      .callout-section .panel .top-bar {
        min-height: 18.75em;
        display: flex;
        align-items: center; }
      .callout-section .panel div:nth-child(2) {
        height: 25em;
        background-size: cover;
        background-position: 0 0; } }
    @media only screen and (min-width: 48.125em) {
      .callout-section .panel div:nth-child(2) {
        height: 35em; } }
  @media only screen and (min-width: 35.25em) {
    .callout-section .group {
      display: flex; }
    .callout-section .col {
      flex: 1; } }

/* .founding-of-magic */
.founding-of-magic {
  background: #E66A6F;
  color: white; }
  .founding-of-magic h2 {
    text-align: center;
    margin-bottom: 3.875em; }

/*. time-line */
.time-line {
  padding: 35px 7px 0 3px;
  position: relative;
  color: white;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .time-line p {
    font-weight: 500;
    font-size: 1.063em; }
  .time-line:before {
    position: absolute;
    left: 70px;
    top: 0;
    right: 7px;
    height: 2px;
    background: white;
    content: ""; }
  .time-line:after {
    position: absolute;
    right: 6px;
    top: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent white;
    content: ""; }
  .time-line .box {
    float: left;
    position: relative;
    width: 200px;
    margin: 0 54px 0 0; }
    .time-line .box.last {
      float: right;
      margin: 0; }
    .time-line .box:after {
      position: absolute;
      left: 50%;
      top: -40px;
      margin: 0 0 0 -36px;
      background: white;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      content: ""; }
  .time-line .day {
    width: 85px;
    background: white;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #e66a6f;
    font-weight: bold;
    padding: 7px 0 7px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -71px;
    top: -106px; }
    .time-line .day:before {
      position: absolute;
      left: 50%;
      bottom: -9px;
      width: 0;
      height: 0;
      margin: 0 0 0 -10px;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: white transparent transparent transparent;
      content: ""; }
  .time-line .image {
    display: block;
    width: 140px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin: 0 0 46px;
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s; }
    .time-line .image:hover {
      background: #333333;
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95); }
      .time-line .image:hover img {
        opacity: .5; }
    .time-line .image img {
      border-radius: 50%;
      vertical-align: top;
      -webkit-transition: all .2s linear 0s;
      transition: all .2s linear 0s; }
    .time-line .image .btn-play {
      position: absolute;
      left: 50%;
      top: 50%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: -37px 0 0 -37px;
      font-size: 72px;
      line-height: 72px;
      color: rgba(255, 255, 255, 0.9);
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 48.125em) {
    .time-line {
      margin: 0 0 -70px; }
      .time-line:before, .time-line:after {
        display: none; }
      .time-line .day {
        margin: 0 0 0 -43px; }
      .time-line .last.box, .time-line .box {
        float: none;
        width: auto;
        margin: 0 0 140px;
        text-align: center; }
      .time-line .last.box .image, .time-line .box .image {
        display: inline-block;
        vertical-align: top; }
      .time-line .last.box:after, .time-line .box:after {
        margin: 0 0 0 -6px; }
      .time-line .box-holder:before {
        position: absolute;
        left: 0;
        top: -35px;
        right: 2px;
        height: 2px;
        background: white;
        content: ""; }
      .time-line .box-holder:after {
        position: absolute;
        right: 0;
        top: -41px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 14px;
        border-color: transparent transparent transparent white;
        content: ""; } }

/* .mandate */
.mandate {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  text-align: center; }
  .mandate .group h2 {
    margin: 0 auto; }
  .mandate .group .col {
    border-top: 6px solid #333333;
    padding: 2.5em; }
    .mandate .group .col h3 {
      font-size: 1.75em;
      margin: 1.25em auto 0.5em;
      font-weight: 600; }
    .mandate .group .col p {
      font-size: 1.063em; }
    .mandate .group .col.red {
      border-color: #d5333a; }
      .mandate .group .col.red .ico-box, .mandate .group .col.red h3 {
        color: #d5333a; }
    .mandate .group .col.blue {
      border-color: #00aac5; }
      .mandate .group .col.blue .ico-box, .mandate .group .col.blue h3 {
        color: #00aac5; }
  .mandate .ico-box i {
    font-size: 65px;
    line-height: 70px; }
  @media screen and (min-width: 48.125em) {
    .mandate .group {
      display: flex; }
      .mandate .group h2 {
        font-size: 3.25em;
        text-align: left; }
      .mandate .group .col {
        flex: 1;
        padding: 2.5em 0;
        margin: 0 2em; } }

/* .core-activities */
.core-activities h2 {
  text-align: center; }
.core-activities h4 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em; }
.core-activities .group .col {
  border-top: 6px solid #66a944;
  padding: 2.5em 1.5em; }
  .core-activities .group .col .num-box {
    display: flex;
    align-items: center;
    margin-bottom: 2.25em; }
  .core-activities .group .col h3 {
    font-weight: 600;
    font-size: 1.5em;
    color: #66a944;
    margin: 0; }
  .core-activities .group .col .num {
    flex: 0 0 54px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #66a944;
    color: white;
    font-size: 1.75em;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.75em;
    padding-right: 6px; }
  .core-activities .group .col.yellow {
    border-color: #f8a61b; }
    .core-activities .group .col.yellow h3 {
      color: #f8a61b; }
    .core-activities .group .col.yellow .num {
      background-color: #f8a61b; }
  .core-activities .group .col.red {
    border-color: #ef5b24; }
    .core-activities .group .col.red h3 {
      color: #ef5b24; }
    .core-activities .group .col.red .num {
      background-color: #ef5b24; }
  .core-activities .group .col ul {
    font-size: 1.125em;
    line-height: 1.5; }
    .core-activities .group .col ul li {
      margin-bottom: 0.5em; }
      @media screen and (min-width: 35.25em) {
        .core-activities .group .col ul li {
          margin-bottom: 0; } }
@media screen and (min-width: 48.125em) {
  .core-activities .group {
    margin: 4em auto 6em;
    display: flex; }
    .core-activities .group .col {
      flex: 1;
      padding: 2.5em 0;
      margin: 0 1em; } }
.core-activities .icos-boxes {
  border: 1px solid #bbbfc3;
  color: #bbbfc3;
  text-align: center;
  position: relative;
  margin: 0 0 8.75em; }
  @media screen and (min-width: 48.125em) {
    .core-activities .icos-boxes {
      margin: 0 0 11.25em; } }
  .core-activities .icos-boxes h5 {
    font-size: 1.5em;
    font-weight: 600; }
  .core-activities .icos-boxes .holder {
    overflow: hidden;
    position: relative; }
    .core-activities .icos-boxes .holder .box {
      height: 178px;
      float: left;
      cursor: pointer;
      width: 100%;
      border-bottom: 1px solid #bbbfc3;
      margin-bottom: -1px; }
      @media screen and (min-width: 35.25em) {
        .core-activities .icos-boxes .holder .box {
          width: 50%;
          border-left: 1px solid #bbbfc3; } }
      .core-activities .icos-boxes .holder .box.active .slide-box {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
    .core-activities .icos-boxes .holder .box-holder {
      padding: 2em 0; }
    .core-activities .icos-boxes .holder .slide-box {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      background: #f9f9f9;
      z-index: 4;
      -webkit-transform: translateX(-130%);
      -ms-transform: translateX(-130%);
      transform: translateX(-130%);
      -webkit-transition: -webkit-transform .25s linear 0s;
      transition: transform .25s linear 0s;
      display: block;
      cursor: default; }
      .core-activities .icos-boxes .holder .slide-box.right {
        -webkit-transform: translateX(130%);
        -ms-transform: translateX(130%);
        transform: translateX(130%); }
      .core-activities .icos-boxes .holder .slide-box .close {
        position: absolute;
        right: 13px;
        top: 13px;
        text-decoration: none;
        font-size: 1em;
        line-height: 1; }
      .core-activities .icos-boxes .holder .slide-box .col {
        color: #333333;
        padding: 2em 0 0; }
      .core-activities .icos-boxes .holder .slide-box.right .col {
        padding: 4em 0 0; }
      .core-activities .icos-boxes .holder .slide-box .area {
        overflow: hidden;
        color: #333333;
        font-size: 0.9375em;
        padding: 0 2em; }
      @media only screen and (min-width: 35.25em) {
        .core-activities .icos-boxes .holder .slide-box {
          display: flex !important;
          align-items: center; }
          .core-activities .icos-boxes .holder .slide-box .area, .core-activities .icos-boxes .holder .slide-box .col {
            flex: 1; }
          .core-activities .icos-boxes .holder .slide-box.right .col {
            padding: 2em 0 0; }
          .core-activities .icos-boxes .holder .slide-box .area {
            text-align: left; } }
    .core-activities .icos-boxes .holder .ico {
      font-size: 60px;
      line-height: 70px;
      margin: 0 0 20px; }
      .core-activities .icos-boxes .holder .ico .ico-box {
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 48px;
        margin: 7px 10px -7px; }
      .core-activities .icos-boxes .holder .ico .icon-news {
        position: absolute;
        right: -12px;
        top: -20px;
        font-size: 28px;
        line-height: 26px; }
  .core-activities .icos-boxes .click-box {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -130px;
    bottom: -110px; }
    .core-activities .icos-boxes .click-box img {
      vertical-align: top; }

/* .what-we-did */
.what-we-did {
  background-image: linear-gradient(#00d2ff, #3a7bd5);
  text-align: center; }
  .what-we-did h2 {
    color: white; }

.time-boxes {
  margin: 0 auto;
  text-align: center;
  padding: 5em 0 0;
  position: relative; }
  .time-boxes:before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    bottom: 626px;
    background: white;
    content: ""; }
  .time-boxes .data-box {
    position: relative;
    border-radius: 8px;
    background: #daf6fc;
    max-width: 380px;
    margin: 1.25em auto 7.5em;
    padding: 2.5em 1.875em;
    font-size: 1em; }
    .time-boxes .data-box.hover {
      background: white; }
      .time-boxes .data-box.hover:before {
        border-color: transparent transparent transparent white; }
      .time-boxes .data-box.hover .ico {
        color: #f8a61b; }
        .time-boxes .data-box.hover .ico img {
          display: none; }
        .time-boxes .data-box.hover .ico .hover {
          display: inline; }
    .time-boxes .data-box .date {
      right: auto;
      left: 50%;
      top: -100px;
      margin: 0 0 0 -40px;
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 4px solid white;
      background: white;
      text-align: center;
      font-size: 0.688em;
      line-height: 80px;
      text-transform: uppercase;
      font-weight: 600;
      color: #1BC1DB; }
      .time-boxes .data-box .date:before {
        content: "\e60c";
        font-family: "icomoon";
        position: absolute;
        left: 17px;
        top: 16px;
        color: #1BC1DB;
        font-size: 36px;
        line-height: 40px; }
    .time-boxes .data-box .ico {
      text-align: center;
      font-size: 62px;
      line-height: 70px;
      color: #1BC1DB;
      margin: 0 0 11px; }
      .time-boxes .data-box .ico img {
        vertical-align: top; }
      .time-boxes .data-box .ico .hover {
        display: none; }
    .time-boxes .data-box .icon-grill {
      font-size: 87px;
      margin: -10px 0 5px;
      display: inline-block;
      vertical-align: top; }
    .time-boxes .data-box .icon-idea {
      font-size: 54px; }
    .time-boxes .data-box .icon-notebook {
      font-size: 53px; }
    .time-boxes .data-box .icon-dashboard {
      font-size: 74px; }
    .time-boxes .data-box .icon-folk, .time-boxes .data-box .icon-robot {
      font-size: 74px;
      margin: -10px 0 6px;
      display: inline-block;
      vertical-align: top; }
    .time-boxes .data-box h3 {
      font-size: 24px;
      line-height: 30px;
      color: #333333;
      margin: 0 0 15px;
      font-weight: 600; }
    .time-boxes .data-box p {
      margin: 0 0 19px; }
    .time-boxes .data-box .count {
      font-size: 48px;
      line-height: 50px;
      font-weight: bold;
      margin: 0 0 11px; }
    .time-boxes .data-box .btn-box {
      text-align: center;
      padding: 23px 0 0; }
    .time-boxes .data-box .btn {
      display: inline-block;
      vertical-align: top;
      border: 2px solid #333333;
      font-size: 13px;
      line-height: 15px;
      text-decoration: none;
      padding: 12px 12px 11px;
      text-transform: uppercase;
      font-weight: bold; }
  @media only screen and (min-width: 1123px) {
    .time-boxes {
      height: 7535px;
      position: relative; }
      .time-boxes:before {
        margin-top: 20px; }
      .time-boxes .data-box {
        position: absolute;
        left: 0;
        top: 0; }
        .time-boxes .data-box .date {
          left: 531px;
          top: 0; }
        .time-boxes .data-box:before {
          position: absolute;
          right: -19px;
          top: 30px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 0 18px 20px;
          border-color: transparent transparent transparent #daf6fc;
          content: ""; }
        .time-boxes .data-box.right {
          left: auto;
          right: 0; }
          .time-boxes .data-box.right:before {
            right: auto;
            left: -19px;
            border-width: 18px 20px 18px 0;
            border-color: transparent #daf6fc transparent transparent; }
          .time-boxes .data-box.right.hover:before {
            border-color: transparent white transparent transparent; }
          .time-boxes .data-box.right .date {
            right: auto;
            left: -149px; }
        .time-boxes .data-box.box2 {
          top: 150px; }
        .time-boxes .data-box.box3 {
          top: 589px; }
        .time-boxes .data-box.box4 {
          top: 781px; }
        .time-boxes .data-box.box5 {
          top: 1154px; }
        .time-boxes .data-box.box6 {
          top: 1394px; }
        .time-boxes .data-box.box7 {
          top: 1773px; }
        .time-boxes .data-box.box8 {
          top: 2137px; }
        .time-boxes .data-box.box9 {
          top: 2460px; }
        .time-boxes .data-box.box10 {
          top: 2774px; }
        .time-boxes .data-box.box11 {
          top: 3079px; }
        .time-boxes .data-box.box12 {
          top: 3481px; }
        .time-boxes .data-box.box13 {
          top: 3808px; }
        .time-boxes .data-box.box14 {
          top: 4132px; }
        .time-boxes .data-box.box15 {
          top: 4487px; }
        .time-boxes .data-box.box16 {
          top: 4759px; }
        .time-boxes .data-box.box17 {
          top: 5192px; }
        .time-boxes .data-box.box18 {
          top: 5534px; }
        .time-boxes .data-box.box19 {
          top: 5867px; }
        .time-boxes .data-box.box20 {
          top: 6161px; }
        .time-boxes .data-box.box21 {
          top: 6470px; }
        .time-boxes .data-box.box22 {
          top: 6810px; } }

/* footer */
footer {
  padding: 0 2em;
  background: #333333;
  font-size: 0.813em;
  letter-spacing: 0.025em;
  text-decoration: none;
  color: white; }
  footer div > div {
    margin: 1em 0; }
  footer a {
    text-decoration: none;
    color: white; }
    footer a:hover {
      text-decoration: underline;
      color: #00d2ff; }
  footer .clear {
    zoom: 1;
    /* For IE 6/7 */ }
    footer .clear:before {
      content: "";
      display: table; }
    footer .clear:after {
      content: "";
      display: table;
      clear: both; }
  @media only screen and (min-width: 35.25em) {
    footer .address, footer .contact {
      float: left;
      display: block;
      width: 20%;
      max-width: 12.5em;
      margin-right: 2.25em; }
    footer .privacy {
      text-align: right; } }

/* .ft */
em {
  font-weight: 600; }

hr {
  max-width: 6.25rem;
  border-bottom: 2px solid; }

a {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms; }

blockquote.instagram-media {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 658px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px); }
  blockquote.instagram-media > div {
    padding: 8px; }
    blockquote.instagram-media > div > div {
      background: #F8F8F8;
      line-height: 0;
      margin-top: 40px;
      padding: 50.0% 0;
      text-align: center;
      width: 100%; }
      blockquote.instagram-media > div > div > div {
        display: block;
        height: 44px;
        margin: 0 auto -44px;
        position: relative;
        top: -22px;
        width: 44px; }
    blockquote.instagram-media > div p:nth-child(1) {
      margin: 8px 0 0 0;
      padding: 0 4px; }
      blockquote.instagram-media > div p:nth-child(1) a {
        color: #000;
        font-family: Arial,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
        word-wrap: break-word; }
    blockquote.instagram-media > div p:nth-child(2) {
      color: #c9c8cd;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
      margin-top: 8px;
      overflow: hidden;
      padding: 8px 0 7px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap; }
      blockquote.instagram-media > div p:nth-child(2) a {
        color: #c9c8cd;
        font-family: Arial,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none; }
      blockquote.instagram-media > div p:nth-child(2) time {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 17px; }

.ft-intro .wrapper {
  max-width: 32.50em; }
.ft-intro p.date {
  text-transform: uppercase; }
.ft-intro hr {
  border-bottom: 2px solid white;
  margin: 1.563rem auto; }
.ft-intro h1 {
  margin: 0.938rem 0 0; }
.ft-intro h3 {
  font-size: 1.5em;
  margin: 0 0 1.563rem; }
.ft-intro h1, .ft-intro h3 {
  font-weight: 500; }

.ft-gallery h2 {
  margin: 0 0 3.250rem; }
.ft-gallery img {
  padding: 0.375em; }
.ft-gallery .img-row .columns {
  padding: 0; }
.ft-gallery p {
  margin: 3.250rem 0 0; }

.ft-full-carousel {
  padding-top: 0; }
  .ft-full-carousel #fullscreen-carousel {
    background-color: #EEE;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 48.6%;
    transition-duration: 250ms; }
  .ft-full-carousel ul.controls {
    list-style: none;
    margin-top: -35px; }
    .ft-full-carousel ul.controls li {
      display: inline-block;
      cursor: pointer;
      margin: 0.313em; }
      .ft-full-carousel ul.controls li:hover, .ft-full-carousel ul.controls li:focus, .ft-full-carousel ul.controls li:active {
        transform: scale(1.05);
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        -webkit-transform: scale(1.2);
        -webkit-transition-duration: 250ms;
        -webkit-transition-timing-function: ease-in-out; }
      .ft-full-carousel ul.controls li img {
        border-radius: 100%;
        border: 3px solid #FFFFFF;
        width: 70px;
        background-color: #FFFFFF; }
  .ft-full-carousel h2 {
    margin: 2.188rem 0 3.250rem; }
  .ft-full-carousel p {
    margin: 0 0 0.313em; }
  .ft-full-carousel a:hover {
    color: #1BC1DB; }

.ft-testimonial .participant iframe {
  width: 100%; }
.ft-testimonial h2 {
  margin: 0; }
.ft-testimonial hr {
  margin: 1.563rem auto; }
.ft-testimonial .row:nth-child(2) {
  margin: 1.563em auto; }
.ft-testimonial ul.testimonial-controls {
  list-style: none; }
  .ft-testimonial ul.testimonial-controls li {
    display: inline-block;
    cursor: pointer;
    margin: 0.313em; }
    @media screen and (min-width: 32em) {
      .ft-testimonial ul.testimonial-controls li {
        display: block; } }
  @media screen and (min-width: 32em) and (min-width: 64em) {
    .ft-testimonial ul.testimonial-controls li {
      margin-left: 50%; } }

    .ft-testimonial ul.testimonial-controls li:hover, .ft-testimonial ul.testimonial-controls li:focus, .ft-testimonial ul.testimonial-controls li:active {
      transform: scale(1.05);
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;
      -webkit-transform: scale(1.2);
      -webkit-transition-duration: 250ms;
      -webkit-transition-timing-function: ease-in-out; }
    .ft-testimonial ul.testimonial-controls li img {
      border-radius: 100%;
      width: 70px;
      background: #FFF;
      border: 4px solid #FFF; }

.ft-footer {
  padding-top: 0;
  padding-bottom: 0; }
  .ft-footer a {
    text-decoration: none; }
    .ft-footer a:hover, .ft-footer a:active, .ft-footer a:focus {
      color: #1BC1DB; }
  .ft-footer a:nth-child(1) {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    display: block;
    padding: 0.938em 1.563em;
    border: 2px solid;
    border-radius: 8px;
    max-width: 320px;
    margin: 0 auto 0.938em;
    background-color: rgba(255, 255, 255, 0.2); }
    .ft-footer a:nth-child(1):hover, .ft-footer a:nth-child(1):active, .ft-footer a:nth-child(1):focus {
      background-color: rgba(255, 255, 255, 0.6); }

#ft-ma2015 .ft-intro {
  color: white;
  background-color: #121212; }

#ft-ma2015 .ft-intro-bg > div {
  width: 100%;
  height: 0;
  padding: 25% 0 25%;
  background-color: #4a4a4a;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(img/ma2015-intro-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 1.2em; }

#ft-ma2015 .ft-intro-bg > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

#ft-ma2015 .ft-gallery {
  background: #1BC1DB;
  color: white; }

#ft-ma2015 .ft-full-carousel {
  background: #FFFFFF; }
  #ft-ma2015 .ft-full-carousel .content-1 {
    background-image: url(img/ma2015-content-1.jpg); }
  #ft-ma2015 .ft-full-carousel .content-2 {
    background-image: url(img/ma2015-content-2.jpg); }
  #ft-ma2015 .ft-full-carousel .content-3 {
    background-image: url(img/ma2015-content-3.jpg); }
  #ft-ma2015 .ft-full-carousel .content-4 {
    background-image: url(img/ma2015-content-4.jpg); }
  #ft-ma2015 .ft-full-carousel .content-5 {
    background-image: url(img/ma2015-content-5.jpg); }
  #ft-ma2015 .ft-full-carousel .content-6 {
    background-image: url(img/ma2015-content-6.jpg); }
  #ft-ma2015 .ft-full-carousel .content-7 {
    background-image: url(img/ma2015-content-7.jpg); }
  #ft-ma2015 .ft-full-carousel .content-8 {
    background-image: url(img/ma2015-content-8.jpg); }
  #ft-ma2015 .ft-full-carousel h2 em {
    color: #1BC1DB; }

#ft-ma2015 .ft-callout {
  background: linear-gradient(#FFFFFF, #EEEEEE); }
  #ft-ma2015 .ft-callout .columns {
    padding: 0 0.375em; }
  #ft-ma2015 .ft-callout .columns > .row {
    margin: 0.375em auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    padding: 0; }
    #ft-ma2015 .ft-callout .columns > .row .columns:nth-child(1) {
      padding: 0;
      overflow: hidden; }
    #ft-ma2015 .ft-callout .columns > .row .columns:nth-child(2) {
      padding: 1.563em; }
    #ft-ma2015 .ft-callout .columns > .row hr {
      margin: 1.25rem 0; }
    @media screen and (min-width: 64em) {
      #ft-ma2015 .ft-callout .columns > .row {
        display: flex;
        align-items: center; } }
  #ft-ma2015 .ft-callout .columns:nth-child(1) > .row {
    background: #192132;
    color: white; }
    #ft-ma2015 .ft-callout .columns:nth-child(1) > .row hr {
      border-bottom: 2px solid white; }
    #ft-ma2015 .ft-callout .columns:nth-child(1) > .row em {
      color: #FAA61A; }
  #ft-ma2015 .ft-callout .columns:nth-child(2) > .row {
    background: white;
    border: 1px solid #F5F5F5; }
    #ft-ma2015 .ft-callout .columns:nth-child(2) > .row em {
      color: #1BC1DB; }

#ft-ma2015 .ft-testimonial {
  background-color: #EEEEEE; }
  #ft-ma2015 .ft-testimonial .participant {
    display: none; }
  #ft-ma2015 .ft-testimonial .participant:nth-child(1) {
    display: block; }

#ft-ma2015 .ft-footer > div {
  width: 100%;
  height: 0;
  padding: 25% 0 75%;
  background-color: #EEEEEE;
  background-image: url(img/ma2015-background.jpg);
  background-size: 200%;
  background-position: 50%;
  background-repeat: no-repeat; }
  @media screen and (min-width: 64em) {
    #ft-ma2015 .ft-footer > div {
      padding: 12.5% 0 37.5%;
      background-size: 100%;
      background-postion: 0 0; } }

#ft-map .ft-intro {
  color: white;
  background-color: #121212; }

#ft-map .ft-intro-bg {
  padding: 2em 0; }
  #ft-map .ft-intro-bg .wrapper {
    max-width: 96em;
    width: 96%;
    text-align: center; }
  #ft-map .ft-intro-bg img {
    width: 31.9%;
    margin: 0.5em auto;
    padding: 0; }
    @media screen and (min-width: 32em) {
      #ft-map .ft-intro-bg img {
        width: 19.1%; } }
    @media screen and (min-width: 64em) {
      #ft-map .ft-intro-bg img {
        width: 6.3%; } }

#ft-map .ft-video {
  background-color: #EEE;
  background-image: url(img/map-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 0; }
  #ft-map .ft-video h2 {
    margin: 3em 0 0.625em; }
    @media screen and (min-width: 48em) {
      #ft-map .ft-video h2 {
        margin: 8em 0 0.625em; } }
  #ft-map .ft-video hr {
    margin: 3.5em auto; }
    #ft-map .ft-video hr:nth-child(2) {
      margin: 5em auto; }
  #ft-map .ft-video em {
    color: #1BC1DB; }
  #ft-map .ft-video .flex-video {
    background: white;
    border: 1px solid #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); }

#ft-map .ft-callout {
  padding: 1.563em 0;
  background: #EEE; }
  #ft-map .ft-callout .wrapper > h4 {
    text-align: center;
    margin: 6em 0; }
  #ft-map .ft-callout .row {
    background: white;
    margin: 0.75em auto;
    padding: 0;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); }
    #ft-map .ft-callout .row .columns:nth-child(1) {
      padding: 0;
      overflow: hidden; }
    #ft-map .ft-callout .row .columns:nth-child(2) {
      padding: 1.563em; }
    @media screen and (min-width: 32em) {
      #ft-map .ft-callout .row {
        display: flex;
        align-items: center; }
        #ft-map .ft-callout .row img {
          width: 100%; } }
  #ft-map .ft-callout h2 {
    margin: 0 0 0.313em; }
  #ft-map .ft-callout ul {
    list-style: none;
    font-size: 0.875em; }

#ft-map .ft-full-carousel {
  background: #FFFFFF; }
  #ft-map .ft-full-carousel .content-1 {
    background-image: url(img/map-content-1.jpg); }
  #ft-map .ft-full-carousel .content-2 {
    background-image: url(img/map-content-2.jpg); }
  #ft-map .ft-full-carousel .content-3 {
    background-image: url(img/map-content-3.jpg); }
  #ft-map .ft-full-carousel .content-4 {
    background-image: url(img/map-content-4.jpg); }
  #ft-map .ft-full-carousel .content-5 {
    background-image: url(img/map-content-5.jpg); }
  #ft-map .ft-full-carousel .content-6 {
    background-image: url(img/map-content-6.jpg); }
  #ft-map .ft-full-carousel .content-7 {
    background-image: url(img/map-content-7.jpg); }
  #ft-map .ft-full-carousel .content-8 {
    background-image: url(img/map-content-8.jpg); }
  #ft-map .ft-full-carousel h2 em {
    color: #1BC1DB; }

#ft-map .ft-metrics {
  background: #E66A6F;
  color: white; }
  #ft-map .ft-metrics h3 {
    margin: 0; }
  #ft-map .ft-metrics .stats-row {
    margin: 4em auto;
    font-weight: 600; }
    #ft-map .ft-metrics .stats-row h5 {
      font-weight: 600; }

#ft-map .ft-quote {
  padding-bottom: 0; }
  #ft-map .ft-quote em {
    color: #E66A6F; }

#ft-map .ft-footer > div {
  width: 100%;
  height: 0;
  padding: 20% 0 80%;
  background-color: #FFF;
  background-image: url(img/map-background-footer.jpg);
  background-size: 200%;
  background-position: 50%;
  background-repeat: no-repeat; }
  @media screen and (min-width: 64em) {
    #ft-map .ft-footer > div {
      padding: 12.5% 0 37.5%;
      background-size: 100%;
      background-postion: 0 0; } }
  #ft-map .ft-footer > div a:hover, #ft-map .ft-footer > div a:active, #ft-map .ft-footer > div a:focus {
    color: #E66A6F; }

/*# sourceMappingURL=velvet.css.map */
