body {
  font-family: $body-sans-serif;
  font-size: em(16px);
  font-weight: 400;
  line-height: 1.4em;
  color: $darkgrey;
  background: white;
  min-width: 320px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $head-sans-serif;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 1.2em;
}

h2 {
  font-size: em(36px);
}

h3 {
  font-size: rem(19px);
  font-weight: $head--medium;
}

p {
  font-family: $body-sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 1.2em;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: underline;
  color: $darkgrey;
}

a:hover {
  text-decoration: none;
}

input,
textarea,
select {
  font-family: $body-sans-serif;
  color: $darkgrey;
  vertical-align: middle;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  padding: 4px 7px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #999999;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #4d4d4d;
}

// .ft sections only?

em {
  font-weight: 600;
}

hr {
  width: em(50px);
  border-bottom: 2px solid;
  margin: em(15px) auto;
}

a {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
}