#nav,
#nav > li,
#nav ul,
#nav ul li,
.text-cols ul,
.text-cols ul li,
.gallery .gallery-holder ul,
.legend,
.timeline,
.timeline li,
.graff-lines,
.graff-lines > li,
.sponsors ul,
.logos,
.faqs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}