#header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D8D8D8;
  background: rgba(255, 255, 255, 0.95);
  .holder {
    max-width: 1054px;
    margin: 0 auto;
    padding: 20px 15px 5px;
    @media screen and (min-width: 768px) {
      padding: 20px 15px 0;
    }
  }
  .logo {
    float: left;
    margin: 0 11px 0 0;
    img {
      vertical-align: top;
    }
  }
}
