.bq {
	font-family: $head-sans-serif;
	font-weight: $head--light;
  color: $default;
  font-size: em(16px);
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  border-left: none;
  margin: 0 auto;
  padding: 0;
  span {
  	font-size: 2em;
  	line-height: 1.25;
  	display: block;
  	margin: em(8px) 0;
  }
  cite {
		font-size: em(16px);
		color: $default;
		margin-top: em(8px);
  }
}