%button--clear {
  width: 100%;
  max-width: 320px;
  display: block;
  font-family: $head-sans-serif;
  font-weight: $head--medium;
  font-size: em(18px);
  text-decoration: none;
  background-color: $white--20;
  color: $default;
  border: 2px solid $default; 
  border-radius: $br--min;
  margin: em(35px, 18px) auto em(15px, 18px);
  padding: em(15px, 18px) em(25px, 18px);
  &:hover,
  &:active {
    color: $accent;
    border-color: $accent;
    background-color: $white--80;
  }
}