%testimonials {
  .participant {
    display: none;
  }
  .participant:first-child {
    display: block;
  }
  .participant iframe {
    width: 100%;
  }
  .testimonials-lead {
    margin-bottom: em(60px);
  }
  em {
    color: $accent;
  }
}

.testimonial-controls {
  @extend %controls;
  margin-bottom: em(30px);
  @media screen and (min-width: $large) {
    li {
      display: block;
      margin-left: 50%;
    }
  }
}

.instagram-media {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 658px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
  & > div {
    padding: 8px;
    & > div {
      background: #F8F8F8;
      line-height: 0;
      margin-top: 40px;
      padding: 50.0% 0;
      text-align: center;
      width: 100%;
      & > div {
        display: block;
        height: 44px;
        margin: 0 auto -44px;
        position: relative;
        top: -22px;
        width: 44px;
      }
    }
    p:nth-child(1) {
      margin: 8px 0 0 0;
      padding: 0 4px;
      a {
        color: #000;
        font-family: Arial,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
        word-wrap: break-word;
      }
    }
    p:nth-child(2) {
      color: #c9c8cd;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
      margin-top: 8px;
      overflow: hidden;
      padding: 8px 0 7px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      a {
        color: #c9c8cd;
        font-family: Arial,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
      }
      time {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}