%child-page-intro {
  background-color: $black;
  color: $white;
  .date {
    text-transform: uppercase;
    font-size: em(13px);
    margin-bottom: em(15px, 13px);
  }
  hr {
    border-color: $white;
  }
  h3 {
    margin-bottom: em(25px, $h3__font-size);
  }
  p {
    font-size: em(15px);
  }
}