.svg-tile {
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: $grey;
  border-radius: $br;
  margin-bottom: 15px;
  #Filled_Icons {
    path,
    circle,
    rect,
    polygon {
      fill: $white !important;
    }
  }
}