/* clearfix */

	#header .holder:after,
	.time-line .time-holder:after,
	.add-info .holder:after,
	.add-info .cols:after,
	.icos-boxes:after,
	.text-cols:after,
	.text-cols .num-box:after,
	.gallery .tab-box .text-row:after,
	.graff-lines > li:after,
	.logos-cols:after {
		content: " ";
		display: block;
		clear: both;
	}
 
/* resets */

	#nav,
	#nav > li,
	#nav ul,
	#nav ul li,
	.text-cols ul,
	.text-cols ul li,
	.gallery .gallery-holder ul,
	.legend,
	.timeline,
	.timeline li,
	.graff-lines,
	.graff-lines > li,
	.sponsors ul,
	.logos,
	.faqs-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	html {
		box-sizing: border-box;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	body {
		margin: 0;
		color: #383838;
		background: #fff;
		font: 20px/1.4 "Raleway", "Helvetica", sans-serif;
		min-width: 320px;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: none;
	}

	* {
		max-height: 1000000px;
	}

	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	main,
	nav,
	section,
	summary {
		display: block;
	}

	img {
		border-style: none;
		max-width: 100%;
		height: auto;
	}

	a {
		text-decoration: underline;
		color: #000;
	}

	a:hover {
		text-decoration: none;
	}

	input,
	textarea,
	select {
		font: 100% "Raleway", "Helvetica", sans-serif;
		color: #000;
		vertical-align: middle;
	}

	form,
	fieldset {
		margin: 0;
		padding: 0;
		border-style: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="file"],
	input[type="submit"] {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		cursor: pointer;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		margin: 0;
		padding: 4px 7px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border: 1px solid #999;
	}

	input[type="text"]:focus,
	input[type="tel"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	textarea:focus {
		border-color: #4d4d4d;
	}

	textarea {
		overflow: auto;
		resize: vertical;
		vertical-align: top;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0;
	}

	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

/* typography */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Raleway", "Helvetica", sans-serif;
		line-height: 1.2em;
		margin: 0 0 1.2em;
	}

	p {
		margin: 0 0 1.2em;
	}

	q {
		quotes: none;
	}

	q:before,
	q:after {
		content: "";
		content: none;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -.5em;
	}

	sub {
		bottom: -.25em;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	@font-face {
		font-family: "icomoon";
		src: url("../fonts/icomoon.eot?-5fycdm");
		src: url("../fonts/icomoon.eot?#iefix-5fycdm") format("embedded-opentype"), url("../fonts/icomoon.woff?-5fycdm") format("woff"), url("../fonts/icomoon.ttf?-5fycdm") format("truetype"), url("../fonts/icomoon.svg?-5fycdm#icomoon") format("svg");
		font-weight: normal;
		font-style: normal;
	}

/* icons */

	[class^="icon-"],
	[class*=" icon-"] {
		font-family: "icomoon";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1; /* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-cross:before {
		content: "\e615";
	}

	.icon-arrow-circle-right:before {
		content: "\e614";
	}

	.icon-arrow-down2:before {
		content: "\e616";
	}

	.icon-arrow-down:before {
		content: "\e600";
	}

	.icon-arrow-right:before {
		content: "\e612";
	}

	.icon-grill:before {
		content: "\e601";
	}

	.icon-chat:before {
		content: "\e602";
	}

	.icon-notebook:before {
		content: "\e603";
	}

	.icon-town:before {
		content: "\e604";
	}

	.icon-play:before {
		content: "\e605";
	}

	.icon-eye:before {
		content: "\e606";
	}

	.icon-rocket:before {
		content: "\e607";
	}

	.icon-people:before {
		content: "\e608";
	}

	.icon-men:before {
		content: "\e609";
	}

	.icon-women:before {
		content: "\e60a";
	}

	.icon-news:before {
		content: "\e60b";
	}

	.icon-date:before {
		content: "\e60c";
	}

	.icon-cover:before {
		content: "\e60d";
	}

	.icon-dashboard:before {
		content: "\e60e";
	}

	.icon-robot:before {
		content: "\e60f";
	}

	.icon-idea:before {
		content: "\e610";
	}

	.icon-folk:before {
		content: "\e611";
	}

	.icon-arrow-left:before {
		content: "\e613";
	}

/* #header & nav */

	#header {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		background: rgba(255, 255, 255, .95);
		border-bottom: 1px solid #d8d8d8;
	}

	#header .holder {
		max-width: 1054px;
		margin: 0 auto;
		padding: 20px 15px 0;
	}

	#header .logo {
		float: left;
		margin: 0 11px 0 0;
	}

	#header .logo img {
		vertical-align: top;
	}

	#nav {
		text-transform: uppercase;
		font-size: 13px;
		line-height: 15px;
		float: left;
		margin: 1px -39px 0 0;
	}

	#nav > li {
		float: left;
		margin: 0 39px;
		padding: 0 0 20px;
		position: relative;
	}

	#nav > li.active > a {
		color: #000;
	}

	#nav > li > a {
		color: #999;
		text-decoration: none;
	}

	#nav > li > a:hover {
		color: #000;
	}

	#nav > li.hover > ul {
		display: block;
	}

	#nav ul {
		position: absolute;
		top: 100%;
		border: 1px solid #d8d8d8;
		background: rgba(255, 255, 255, .95);
		width: 180px;
		left: 50%;
		margin: 0 0 0 -90px;
		text-transform: none;
		padding: 10px 0 12px;
		font-size: 12px;
		display: none;
	}

	#nav ul li {
		margin: 0 0 2px;
	}

	#nav ul a {
		display: block;
		color: #999;
		text-decoration: none;
		padding: 7px 17px;
	}

	#nav ul a:hover {
		color: #000;
	}

	.nav-opener {
		width: 31px;
		height: 31px;
		background: #000;
		background: rgba(0, 0, 0, .7);
		position: relative;
		border-radius: 3px;
		text-indent: -9999px;
		overflow: hidden;
		display: none;
		float: right;
		margin: -9px 0 5px;
		outline: none;
	}

	.nav-opener:before,
	.nav-opener:after,
	.nav-opener span {
		background: #fff;
		border-radius: 4px;
		position: absolute;
		top: 16px;
		left: 25%;
		right: 25%;
		height: 3px;
		margin-top: -2px;
		-webkit-transition: all .2s linear;
		transition: all .2s linear;
	}

	.nav-opener:before,
	.nav-opener:after {
		content: "";
		top: 10px;
	}

	.nav-opener:after {
		top: 22px;
	}

	.nav-active .nav-opener span {
		opacity: 0;
	}

	.nav-opener:hover {
		opacity: .9;
	}

	.nav-active .nav-opener:after,
	.nav-active .nav-opener:before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 16px;
		left: 15%;
		right: 15%;
	}

	.nav-active .nav-opener:after {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.nav-opener:before,
	.nav-opener:after,
	.nav-opener span {
		background: #fff;
	}

/* .entry-section */

	.entry-section {
		background: url(img/bg-entry-image.jpg) no-repeat;
		background-size: cover;
		color: #484848;
		font-size: 16px;
		line-height: 26px;
		font-weight: 500;
	}

	.entry-section.active .opener {
		display: none;
	}

	.entry-section .holder {
		display: table;
		width: 100%;
	}

	.entry-section .holder .frame {
		vertical-align: middle;
		width: 100%;
		display: table-cell;
		padding: 90px 0 0;
	}

	.entry-section .holder .frame2 {
		max-width: 770px;
		margin: 0 auto;
		padding: 0 10px;
		text-align: center;
	}

	.entry-section .logo-box {
		margin: 0 0 37px;
	}

	.entry-section h1 {
		color: #080808;
		font-size: 64px;
		line-height: 70px;
		font-weight: 300;
		margin: 0 0 67px;
	}

	.entry-section .title {
		display: block;
		color: #484848;
		font-size: 24px;
		line-height: 30px;
		font-weight: 600;
		margin: 0 0 15px;
	}

	.entry-section p {
		margin: 0 0 15px;
	}

	.entry-section a {
		color: #000;
	}

	.entry-section .btn-row {
		padding: 18px 0 10px;
		text-align: center;
	}

	.entry-section .btn-row a {
		text-decoration: none;
		color: #000;
		font-size: 45px;
		line-height: 50px;
	}

	/* #callout-carousel */

	#callout-carousel {
		max-width: 1060px;
		padding: 102px 15px;
		margin: 0 auto;
	}
	#callout-carousel .map-header {
	  background: #56b68b; }
	#callout-carousel .sehati-header {
	  background: #638BD8; }
	#callout-carousel .ma2015-header {
	  background: #4D4170; }
	#callout-carousel .map-header, #callout-carousel .sehati-header, #callout-carousel .ma2015-header {
	  padding: 100px 0; }
	  #callout-carousel .map-header button, #callout-carousel .sehati-header button, #callout-carousel .ma2015-header button {
	    margin-top: 50px;
	    border-color: white;
	    color: white; }
	    #callout-carousel .map-header button:hover, #callout-carousel .map-header button:focus, #callout-carousel .map-header button:active, #callout-carousel .sehati-header button:hover, #callout-carousel .sehati-header button:focus, #callout-carousel .sehati-header button:active, #callout-carousel .ma2015-header button:hover, #callout-carousel .ma2015-header button:focus, #callout-carousel .ma2015-header button:active {
	      background-color: rgba(255, 255, 255, 0.2); }
	#callout-carousel h2, #callout-carousel p {
	  color: white;
	  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale; }
	  #callout-carousel h2 span, #callout-carousel p span {
	    font-style: italic;
	    color: #F8D637; }
	#callout-carousel h2 {
	  margin: 15px 0 30px;
	  line-height: 1.2; }
	#callout-carousel p {
	  margin: 0;
	  line-height: 1.4; }
	#callout-carousel .slick-dots {
	  bottom: 0;
	  margin: 0 auto 25px;
	  max-width: 100%; }
	  #callout-carousel .slick-dots li {
	    margin: 0 2px; }
	    #callout-carousel .slick-dots li button:before {
	      color: white;
	      font-size: 9px; }
	@media only screen and (min-width: 40.063em) {
	  #callout-carousel .map-header, #callout-carousel .sehati-header, #callout-carousel .ma2015-header {
	    height: 640px; }
	  #callout-carousel h2 {
	    font-size: 2.82353em; }
	  #callout-carousel p {
	    font-size: 1.17647em; } }

	.slick-slider {
	  margin-bottom: 0; }	

/* .callout-section */

/* .add-section */

	.add-section {
		background: #e66a6f;
	}

	.add-section .holder {
		max-width: 1060px;
		padding: 102px 15px;
		margin: 0 auto;
	}

	.add-section h2 {
		font-size: 52px;
		line-height: 56px;
		color: #fff;
		font-weight: 300;
		margin: 0 0 168px;
		text-align: center;
	}

	/*. time-line */

		.time-line {
			padding: 35px 7px 0 3px;
			position: relative;
			color: #fff;
			font-size: 16px;
			line-height: 26px;
		}

		.time-line:before {
			position: absolute;
			left: 70px;
			top: 0;
			right: 7px;
			height: 2px;
			background: #fff;
			content: "";
		}

		.time-line:after {
			position: absolute;
			right: 7px;
			top: -6px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 0 7px 14px;
			border-color: transparent transparent transparent #fff;
			content: "";
		}

		.time-line .box {
			float: left;
			position: relative;
			width: 200px;
			margin: 0 54px 0 0;
		}

		.time-line .box.last {
			float: right;
			margin: 0;
		}

		.time-line .box:after {
			position: absolute;
			left: 50%;
			top: -40px;
			margin: 0 0 0 -36px;
			background: #fff;
			border-radius: 50%;
			width: 12px;
			height: 12px;
			content: "";
		}

		.time-line .day {
			width: 85px;
			background: #fff;
			text-align: center;
			font-size: 16px;
			line-height: 18px;
			color: #e66a6f;
			font-weight: bold;
			padding: 3px 0 7px;
			position: absolute;
			left: 50%;
			margin: 0 0 0 -71px;
			top: -106px;
		}

		.time-line .day:before {
			position: absolute;
			left: 50%;
			bottom: -10px;
			width: 0;
			height: 0;
			margin: 0 0 0 -10px;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #fff transparent transparent transparent;
			content: "";
		}

		.time-line .image {
			display: block;
			width: 140px;
			border-radius: 50%;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
			margin: 0 0 46px;
			-webkit-transition: all .2s linear 0s;
			transition: all .2s linear 0s;
		}

		.time-line .image:hover {
			background: #000;
			-webkit-transform: scale(.95);
			-ms-transform: scale(.95);
			transform: scale(.95);
		}

		.time-line .image:hover img {
			opacity: .5;
		}

		.time-line .image img {
			border-radius: 50%;
			vertical-align: top;
			-webkit-transition: all .2s linear 0s;
			transition: all .2s linear 0s;
		}

		.time-line .image .btn-play {
			position: absolute;
			left: 50%;
			top: 50%;
			background: rgba(0, 0, 0, .6);
			border-radius: 50%;
			width: 70px;
			height: 70px;
			margin: -37px 0 0 -37px;
			font-size: 72px;
			line-height: 72px;
			color: rgba(255, 255, 255, .9);
			box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
		}

		.time-line p {
			margin: 0 0 15px;
		}

/* .add-info (mandate) */

	.add-info {
		background: #f5f5f5;
		width: 100%;
		padding: 150px 0 66px;
		font-size: 20px;
		line-height: 30px;
		border-bottom: 1px solid #e6e6e6;
		overflow: hidden;
	}

	.add-info .holder {
		max-width: 1044px;
		padding: 0 15px;
		margin: 0 auto;
	}

	.add-info .cols {
		margin: 0 -30px;
		padding: 0 0 11px;
	}

	.add-info .cols .col {
		float: left;
		width: 33.33%;
		position: relative;
		padding: 28px 30px 20px;
	}

	.add-info .cols .col:before {
		position: absolute;
		left: 30px;
		top: 0;
		right: 30px;
		background: #000;
		height: 6px;
		content: "";
	}

	.add-info .cols .col.red,
	.add-info .cols .col.blue {
		text-align: center;
	}

	.add-info .cols .col.red:before {
		background: #d5333a;
	}

	.add-info .cols .col.red .ico-box,
	.add-info .cols .col.red h3 {
		color: #d5333a;
	}

	.add-info .cols .col.blue:before {
		background: #00aac5;
	}

	.add-info .cols .col.blue .ico-box,
	.add-info .cols .col.blue h3 {
		color: #00aac5;
	}

	.add-info h2 {
		font-size: 54px;
		line-height: 64px;
		font-weight: 300;
		color: #080808;
		margin: 0;
	}

	.add-info h3 {
		margin: 0 0 19px;
		font-size: 24px;
		line-height: 26px;
	}

	.add-info .ico-box {
		padding: 9px 0 32px;
	}

	.add-info .ico-box i {
		font-size: 65px;
		line-height: 70px;
	}

	.add-info .btn-row {
		text-align: center;
		padding: 0 0 73px;
	}

	.add-info .btn-row a {
		display: block;
		max-width: 680px;
		margin: 0 auto;
		border-radius: 10px;
		border: 2px solid #080808;
		font-size: 24px;
		line-height: 26px;
		color: #080808;
		text-decoration: none;
		padding: 19px 10px;
	}

	.add-info .btn-row a span {
		vertical-align: middle;
	}

	.add-info .btn-row a:hover {
		background: #000;
		color: #fff;
	}

	.add-info .btn-row a:hover i {
		color: #fff;
	}

	.add-info .btn-row i {
		color: #080808;
		vertical-align: middle;
		margin: 0 5px;
	}

/* .add-text (core activities) */

	.add-text-section {
		max-width: 1050px;
		margin: 0 auto;
		padding: 70px 15px 60px;
		overflow: hidden;
	}

	.add-text-section h2 {
		font-weight: 300;
		font-size: 52px;
		line-height: 62px;
		margin: 0 0 10px;
		text-align: center;
	}

	.add-text-section p {
		margin: 0 0 20px;
	}

	.add-text-section .note {
		font-size: 24px;
		line-height: 34px;
		color: #383838;
		text-align: center;
		padding: 0 0 14px;
	}

	.icos-boxes {
		border: 1px solid #bbbfc3;
		font-size: 24px;
		line-height: 26px;
		font-weight: bold;
		color: #bbbfc3;
		text-align: center;
		position: relative;
		margin: 0 0 183px;
	}

	.icos-boxes .holder {
		overflow: hidden;
		position: relative;
	}

	.icos-boxes .ico {
		font-size: 60px;
		line-height: 70px;
		margin: 0 0 19px;
	}

	.icos-boxes .ico-box {
		display: inline-block;
		vertical-align: top;
		position: relative;
		font-size: 47px;
		margin: 7px 10px -6px;
	}

	.icos-boxes .icon-news {
		position: absolute;
		right: -12px;
		top: -20px;
		font-size: 28px;
		line-height: 26px;
	}

	.icos-boxes .box {
		border-left: 1px solid #bbbfc3;
		height: 178px;
		margin: 0 0 0 -1px;
		width: 50%;
		float: left;
		cursor: pointer;
	}

	.icos-boxes .box.active .slide-box {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.icos-boxes .box .box-holder {
		padding: 32px 0;
	}

	.icos-boxes .click-box {
		position: absolute;
		left: 50%;
		margin: 0 0 0 -112px;
		bottom: -104px;
	}

	.icos-boxes .click-box img {
		vertical-align: top;
	}

	.icos-boxes .slide-box {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		background: #f9f9f9;
		z-index: 4;
		-webkit-transform: translateX(-130%);
		-ms-transform: translateX(-130%);
		transform: translateX(-130%);
		-webkit-transition: -webkit-transform .25s linear 0s;
		transition: transform .25s linear 0s;
		display: block !important;
		cursor: default;
	}

	.icos-boxes .slide-box.right {
		-webkit-transform: translateX(130%);
		-ms-transform: translateX(130%);
		transform: translateX(130%);
	}

	.icos-boxes .slide-box.right .col {
		float: right;
	}

	.icos-boxes .slide-box.right .area {
		padding: 29px 0 0 78px;
	}

	.icos-boxes .slide-box .close {
		position: absolute;
		right: 13px;
		top: 13px;
		text-decoration: none;
		font-size: 16px;
		line-height: 18px;
	}

	.icos-boxes .slide-box .col {
		width: 50%;
		float: left;
		color: #000;
		padding: 32px 0 0;
	}

	.icos-boxes .slide-box .area {
		overflow: hidden;
		color: #383838;
		font-size: 15px;
		line-height: 26px;
		text-align: left;
		font-weight: normal;
		padding: 23px 40px 0 0;
	}

	.text-cols {
		margin: 0 -30px;
	}

	.text-cols .col {
		float: left;
		width: 33.33%;
		padding: 28px 30px;
		position: relative;
	}

	.text-cols .col:before {
		position: absolute;
		left: 30px;
		top: 0;
		right: 30px;
		background: #66a944;
		height: 6px;
		content: "";
	}

	.text-cols .col.yellow:before {
		background: #f8a61b;
	}

	.text-cols .col.yellow .num {
		background: #f8a61b;
	}

	.text-cols .col.yellow h3 {
		color: #f8a61b;
	}

	.text-cols .col.red:before {
		background: #ef5b24;
	}

	.text-cols .col.red .num {
		background: #ef5b24;
	}

	.text-cols .col.red h3 {
		color: #ef5b24;
	}

	.text-cols .num-box {
		min-height: 90px;
		margin: 0 0 22px;
	}

	.text-cols .num-box .num {
		float: left;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background: #66a944;
		color: #fff;
		font-size: 28px;
		line-height: 30px;
		padding: 9px 0 0;
		text-align: center;
		margin: 2px 17px 0 0;
		font-style: italic;
	}

	.text-cols h3 {
		display: block;
		overflow: auto;
		margin: 0;
		font-size: 24px;
		line-height: 30px;
		color: #66a944;
	}

	.text-cols ul {
		font-size: 20px;
		line-height: 30px;
		text-indent: 3px;
	}

	.text-cols ul li {
		position: relative;
		padding: 0 0 10px 20px;
	}

	.text-cols ul li:before {
		position: absolute;
		left: 3px;
		top: 10px;
		overflow: hidden;
		text-indent: -9999px;
		content: "";
		background: #383838;
		border-radius: 50%;
		width: 6px;
		height: 6px;
	}

/* .about-boxes (what-we-did) */

	.about-boxes {
		background: #1bc1db;
	}

	.about-boxes .holder {
		max-width: 1017px;
		padding: 110px 0 101px;
		margin: 0 auto;
	}

	.about-boxes h2 {
		text-align: center;
		margin: 0 0 59px;
		font-size: 52px;
		line-height: 60px;
		color: #fff;
		font-weight: 300;
	}

	.time-boxes {
		position: relative;
		height: 5830px;
	}

	.time-boxes:before {
		position: absolute;
		left: 50%;
		top: 0;
		width: 3px;
		bottom: 520px;
		background: #fff;
		content: "";
	}

	.time-boxes .data-box {
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 8px;
		background: #daf6fc;
		max-width: 420px;
		padding: 40px 30px;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
	}

	.time-boxes .data-box.hover {
		background: #fff;
	}

	.time-boxes .data-box.hover:before {
		border-color: transparent transparent transparent #fff;
	}

	.time-boxes .data-box.hover .ico {
		color: #f8a61b;
	}

	.time-boxes .data-box.hover .ico img {
		display: none;
	}

	.time-boxes .data-box.hover .ico .hover {
		display: inline;
	}

	.time-boxes .data-box:before {
		position: absolute;
		right: -19px;
		top: 30px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 18px 0 18px 20px;
		border-color: transparent transparent transparent #daf6fc;
		content: "";
	}

	.time-boxes .data-box.right {
		left: auto;
		right: 0;
	}

	.time-boxes .data-box.right:before {
		right: auto;
		left: -19px;
		border-width: 18px 20px 18px 0;
		border-color: transparent #daf6fc transparent transparent;
	}

	.time-boxes .data-box.right.hover:before {
		border-color: transparent #fff transparent transparent;
	}

	.time-boxes .data-box.right .date {
		right: auto;
		left: -127px;
	}

	.time-boxes .data-box .icon-grill {
		font-size: 87px;
		margin: -10px 0 5px;
		display: inline-block;
		vertical-align: top;
	}

	.time-boxes .data-box .icon-idea {
		font-size: 54px;
	}

	.time-boxes .data-box .icon-notebook {
		font-size: 53px;
	}

	.time-boxes .data-box .icon-dashboard {
		font-size: 74px;
	}

	.time-boxes .data-box .icon-folk,
	.time-boxes .data-box .icon-robot {
		font-size: 74px;
		margin: -10px 0 6px;
		display: inline-block;
		vertical-align: top;
	}

	.time-boxes .data-box.box2 {
		top: 149px;
	}

	.time-boxes .data-box.box3 {
		top: 595px;
	}

	.time-boxes .data-box.box4 {
		top: 816px;
	}

	.time-boxes .data-box.box5 {
		top: 1187px;
	}

	.time-boxes .data-box.box6 {
		top: 1438px;
	}

	.time-boxes .data-box.box7 {
		top: 1832px;
	}

	.time-boxes .data-box.box8 {
		top: 2170px;
	}

	.time-boxes .data-box.box9 {
		top: 2504px;
	}

	.time-boxes .data-box.box10 {
		top: 2815px;
	}

	.time-boxes .data-box.box11 {
		top: 3125px;
	}

	.time-boxes .data-box.box12 {
		top: 3515px;
	}

	.time-boxes .data-box.box13 {
		top: 3868px;
	}

	.time-boxes .data-box.box14 {
		top: 4171px;
	}

	.time-boxes .data-box.box15 {
		top: 4531px;
	}

	.time-boxes .data-box.box16 {
		top: 4799px;
	}

	.time-boxes .data-box.box17 {
		top: 5238px;
	}

	.time-boxes .data-box h3 {
		font-size: 24px;
		line-height: 30px;
		color: #383838;
		margin: 0 0 15px;
	}

	.time-boxes .data-box .ico {
		text-align: center;
		font-size: 62px;
		line-height: 70px;
		color: #1bc1db;
		margin: 0 0 11px;
	}

	.time-boxes .data-box .ico img {
		vertical-align: top;
	}

	.time-boxes .data-box .ico .hover {
		display: none;
	}

	.time-boxes .data-box .count {
		font-size: 48px;
		line-height: 50px;
		font-weight: bold;
		margin: 0 0 11px;
	}

	.time-boxes .data-box .btn-box {
		text-align: center;
		padding: 23px 0 0;
	}

	.time-boxes .data-box p {
		margin: 0 0 19px;
	}

	.time-boxes .data-box .btn {
		display: inline-block;
		vertical-align: top;
		border: 2px solid #383838;
		font-size: 13px;
		line-height: 15px;
		text-decoration: none;
		padding: 12px 12px 11px;
		text-transform: uppercase;
		font-weight: bold;
	}

	.time-boxes .data-box .date {
		position: absolute;
		right: -130px;
		top: 0;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 4px solid #00a6c9;
		background: #fff;
		text-align: center;
		font-size: 12px;
		line-height: 80px;
		text-transform: uppercase;
		font-weight: 600;
		color: #00a6c9;
	}

	.time-boxes .data-box .date:before {
		content: "\e60c";
		font-family: "icomoon";
		position: absolute;
		left: 17px;
		top: 16px;
		color: #00a6c9;
		font-size: 36px;
		line-height: 40px;
	}

/* .nextpage */

	.nextpage {
		font-size: 14px;
		line-height: 24px;
		color: #999;
		text-align: center;
	}

	.nextpage a {
		text-decoration: none;
	}

	#next {
		background-color: #333333;
		padding: 5%;
	}

	#next:hover {
		background-color: #2384b3;
	}

	#next h2 { 
		color: #ffffff;
		text-align: center;
		margin: 0 auto;
	}

	@media only screen and (max-width: 480px) {
		#next {
			padding: 25% 0;
		}
	}

/* footer */

	footer {
	  padding: 3.5% 10%;
	  background: #222; }
	  footer .address,
	  footer .contact {
	    float: left;
	    display: block;
	    width: 20%;
	    max-width: 200px;
	    margin-right: 5%; }
	    @media only screen and (max-width: 480px) {
	      footer .address,
	      footer .contact {
	        width: 90%;
	        float: none;
	        margin-bottom: 5%;
	        margin-top: 10%; } }
	  footer .privacy,
	  footer .address,
	  footer .contact,
	  footer a {
	    font-size: 13px;
	    letter-spacing: 0.025em;
	    text-decoration: none;
	    color: #fff;
	    font-weight: 300; }
	  footer a:hover {
	    text-decoration: underline;
	    color: #2384b3; }
	  footer .privacy {
	    text-align: right; }
	    @media only screen and (max-width: 480px) {
	      footer .privacy {
	        text-align: left;
	        margin-bottom: 10%; } }
	  footer .clearfoot {
	    zoom: 1;
	    /* For IE 6/7 */ }
	    footer .clearfoot:before, footer .clearfoot:after {
	      content: "";
	      display: table; }
	    footer .clearfoot:after {
	      clear: both; }

/* all media queries */

	@media only screen and (max-width: 1023px) {
		#nav > li {
			margin: 0 12px;
		}

		.icos-boxes .slide-box .area {
			padding: 12px 40px 0 0;
		}

		.icos-boxes .slide-box.right .area {
			padding: 11px 0 0 78px;
		}

		.text-cols h3 {
			font-size: 20px;
		}

		.text-cols ul {
			font-size: 17px;
		}

		.about-boxes .holder {
			padding: 60px 0 1px;
		}

		.add-info {
			font-size: 16px;
			padding: 150px 0 59px;
		}

		.time-boxes {
			height: auto;
			max-width: 360px;
			margin: 0 auto;
			padding: 50px 0 0;
		}

		.time-boxes .data-box {
			position: relative;
			top: 0 !important;
			display: block;
			margin: 0 0 120px;
		}

		.time-boxes .data-box.right .date,
		.time-boxes .data-box .date {
			right: auto;
			left: 50%;
			top: -100px;
			margin: 0 0 0 -40px;
		}

		.time-boxes .data-box:before {
			display: none;
		}

		.tel-link {
			cursor: default;
			pointer-events: none;
		}
	}

	@media only screen and (max-width: 767px) {
		.nav-opener {
			display: block;
		}

		.entry-section {
			font-size: 14px;
			line-height: 19px;
		}

		.entry-section .holder {
			height: auto !important;
		}

		.entry-section .holder .frame {
			padding: 74px 0 0;
		}

		.entry-section .logo-box {
			margin: 0 0 20px;
		}

		.entry-section .logo-box img {
			width: 160px;
			height: auto;
		}

		.entry-section h1 {
			font-size: 32px;
			line-height: 36px;
			margin: 0 0 20px;
		}

		.entry-section .title {
			font-size: 20px;
			margin: 0 0 10px;
		}

		.entry-section .btn-row {
			padding: 10px 0 20px;
		}

		.entry-section .btn-row a {
			font-size: 26px;
			line-height: 30px;
		}

		#nav {
			margin: 0;
			float: none;
		}

		#nav > li {
			float: none;
			margin: 0;
			padding: 0;
		}

		#nav > li > a {
			display: block;
			padding: 10px 10px;
			font-weight: bold;
		}

		#nav ul {
			position: static;
			margin: 0;
			width: auto;
			font-size: 13px;
		}

		.nav-box {
			position: absolute;
			left: 0;
			top: 100%;
			overflow: hidden;
			width: 100%;
			z-index: 100;
			max-height: 0;
			-webkit-transition: all .25s linear;
			transition: all .25s linear;
			padding: 0;
		}

		.nav-active .nav-box {
			max-height: 4000px;
		}

		.nav-box .nav-holder {
			position: static;
			-webkit-transition: all .25s linear;
			transition: all .25s linear;
			-webkit-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			transform: translateY(-100%);
			background: rgba(255, 255, 255, .95);
		}

		.nav-active .nav-box .nav-holder {
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}

		.add-section .holder {
			padding: 40px 15px 1px;
		}

		.add-section h2 {
			margin: 0 0 110px;
		}

		.time-line {
			margin: 0 0 -70px;
		}

		.time-line:before,
		.time-line:after {
			display: none;
		}

		.time-line .day {
			margin: 0 0 0 -43px;
		}

		.time-line .last.box,
		.time-line .box {
			float: none;
			width: auto;
			margin: 0 0 140px;
			text-align: center;
		}

		.time-line .last.box .image,
		.time-line .box .image {
			display: inline-block;
			vertical-align: top;
		}

		.time-line .last.box:after,
		.time-line .box:after {
			margin: 0 0 0 -6px;
		}

		.time-line .box-holder:before {
			position: absolute;
			left: 0;
			top: -35px;
			right: 0;
			height: 2px;
			background: #fff;
			content: "";
		}

		.time-line .box-holder:after {
			position: absolute;
			right: 2px;
			top: -41px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 0 7px 14px;
			border-color: transparent transparent transparent #fff;
			content: "";
		}

		.faq h2,
		.add-sponsors h2,
		.sponsors-section h2,
		.graff-box h2,
		.gallery-section h2,
		.about-boxes h2,
		.add-text-section h2,
		.add-section h2 {
			font-size: 30px;
			line-height: 34px;
		}

		.add-info {
			padding: 50px 0 1px;
		}

		.add-info .cols {
			padding: 0;
		}

		.add-info .cols .col {
			float: none;
			width: auto;
			text-align: center;
			margin: 0 0 20px;
		}

		.add-info .btn-row {
			padding: 0 0 60px;
		}

		.add-info .btn-row a {
			font-size: 18px;
		}

		.add-info .btn-row i {
			vertical-align: middle;
		}

		.add-text-section {
			padding: 30px 15px 20px;
		}

		.add-text-section .note {
			font-size: 16px;
			line-height: 27px;
		}

		.icos-boxes {
			margin: 0 0 145px;
		}

		.icos-boxes .box {
			width: 100%;
			margin: 0 0 -1px;
			border-left: 0;
			border-bottom: 1px solid #bbbfc3;
		}

		.icos-boxes .slide-box.right .col,
		.icos-boxes .slide-box .col {
			float: none;
			width: auto;
		}

		.icos-boxes .slide-box.right .area,
		.icos-boxes .slide-box .area {
			padding: 12px 10px 5px;
			font-size: 13px;
			text-align: center;
		}

		.text-cols .num-box {
			min-height: 0;
		}

		.text-cols .col {
			width: 100%;
			float: none;
		}

		.time-boxes {
			padding: 50px 15px 0;
			margin: 0 auto -50px;
		}

		.time-boxes .data-box {
			padding: 40px 15px;
		}

		#footer {
			font-size: 13px;
			line-height: 20px;
			margin: 10px 15px 20px;
		}
	}

