#header .holder:after,
.time-line .time-holder:after,
.add-info .holder:after,
.add-info .cols:after,
.icos-boxes:after,
.text-cols:after,
.text-cols .num-box:after,
.gallery .tab-box .text-row:after,
.graff-lines > li:after,
.logos-cols:after {
	content: " ";
	display: block;
	clear: both;
}

#nav a {
	font-weight: normal;
}

#nav,
#nav > li,
#nav ul,
#nav ul li,
.text-cols ul,
.text-cols ul li,
.gallery .gallery-holder ul,
.legend,
.timeline,
.timeline li,
.graff-lines,
.graff-lines > li,
.sponsors ul,
.logos,
.faqs-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #383838;
	background: #fff;
	font: 20px/1.4 "Raleway", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}

* {
	max-height: 1000000px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: underline;
	color: #000;
}

a:hover {
	text-decoration: none;
}

input,
textarea,
select {
	font: 100% "Raleway", "Helvetica", sans-serif;
	color: #000;
	vertical-align: middle;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 7px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border-color: #4d4d4d;
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", "Helvetica", sans-serif;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}

p {
	margin: 0 0 1.2em;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: "";
	content: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?-5fycdm");
	src: url("../fonts/icomoon.eot?#iefix-5fycdm") format("embedded-opentype"), url("../fonts/icomoon.woff?-5fycdm") format("woff"), url("../fonts/icomoon.ttf?-5fycdm") format("truetype"), url("../fonts/icomoon.svg?-5fycdm#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\e615";
}

.icon-arrow-circle-right:before {
	content: "\e614";
}

.icon-arrow-down2:before {
	content: "\e616";
}

.icon-arrow-down:before {
	content: "\e600";
}

.icon-arrow-right:before {
	content: "\e612";
}

.icon-grill:before {
	content: "\e601";
}

.icon-chat:before {
	content: "\e602";
}

.icon-notebook:before {
	content: "\e603";
}

.icon-town:before {
	content: "\e604";
}

.icon-play:before {
	content: "\e605";
}

.icon-eye:before {
	content: "\e606";
}

.icon-rocket:before {
	content: "\e607";
}

.icon-people:before {
	content: "\e608";
}

.icon-men:before {
	content: "\e609";
}

.icon-women:before {
	content: "\e60a";
}

.icon-news:before {
	content: "\e60b";
}

.icon-date:before {
	content: "\e60c";
}

.icon-cover:before {
	content: "\e60d";
}

.icon-dashboard:before {
	content: "\e60e";
}

.icon-robot:before {
	content: "\e60f";
}

.icon-idea:before {
	content: "\e610";
}

.icon-folk:before {
	content: "\e611";
}

.icon-arrow-left:before {
	content: "\e613";
}

#wrapper {
	width: 100%;
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	background: rgba(255, 255, 255, .95);
	border-bottom: 1px solid #d8d8d8;
}

#header .holder {
	max-width: 1054px;
	margin: 0 auto;
	padding: 20px 15px 0;
}

#header .logo {
	float: left;
	margin: 0 11px 0 0;
}

#header .logo img {
	vertical-align: top;
}

#nav {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 15px;
	float: left;
	margin: 1px -39px 0 0;
}

#nav > li {
	float: left;
	margin: 0 39px;
	padding: 0 0 20px;
	position: relative;
}

#nav > li.active > a {
	color: #000;
}

#nav > li > a {
	color: #999;
	text-decoration: none;
}

#nav > li > a:hover {
	color: #000;
}

#nav > li.hover > ul {
	display: block;
}

#nav ul {
	position: absolute;
	top: 100%;
	border: 1px solid #d8d8d8;
	background: rgba(255, 255, 255, .95);
	width: 180px;
	left: 50%;
	margin: 0 0 0 -90px;
	text-transform: none;
	padding: 10px 0 12px;
	font-size: 12px;
	display: none;
}

#nav ul li {
	margin: 0 0 2px;
}

#nav ul a {
	display: block;
	color: #999;
	text-decoration: none;
	padding: 7px 17px;
}

#nav ul a:hover {
	color: #000;
}

.nav-opener {
	width: 31px;
	height: 31px;
	background: #000;
	background: rgba(0, 0, 0, .7);
	position: relative;
	border-radius: 3px;
	text-indent: -9999px;
	overflow: hidden;
	display: none;
	float: right;
	margin: -9px 0 5px;
	outline: none;
}

.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	background: #fff;
	border-radius: 4px;
	position: absolute;
	top: 16px;
	left: 25%;
	right: 25%;
	height: 3px;
	margin-top: -2px;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 10px;
}

.nav-opener:after {
	top: 22px;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-opener:hover {
	opacity: .9;
}

.nav-active .nav-opener:after,
.nav-active .nav-opener:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 16px;
	left: 15%;
	right: 15%;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	background: #fff;
}

@media only screen and (max-width: 1100px) {
	#nav > li {
		margin: 0 33px;
	}

	.gallery .btn-prev {
		left: -45px;
	}

	.gallery .btn-next {
		right: -45px;
	}
}

@media only screen and (max-width: 1023px) {
	#nav > li {
		margin: 0 12px;
	}

	.icos-boxes .slide-box .area {
		padding: 12px 40px 0 0;
	}

	.icos-boxes .slide-box.right .area {
		padding: 11px 0 0 78px;
	}

	.gallery .gallery-holder ul > li {
		width: 50%;
	}

	.gallery .tab-box .image-box {
		float: none;
		display: block;
		margin: 0 0 10px;
	}

	.gallery .tab-box .image-box img {
		width: 100%;
		height: auto;
	}

	.text-cols h3 {
		font-size: 20px;
	}

	.text-cols ul {
		font-size: 17px;
	}

	.about-boxes .holder {
		padding: 60px 0 1px;
	}

	.time-boxes {
		height: auto;
		max-width: 360px;
		margin: 0 auto;
		padding: 50px 0 0;
	}

	.time-boxes .data-box {
		position: relative;
		top: 0 !important;
		display: block;
		margin: 0 0 120px;
	}

	.time-boxes .data-box.right .date,
	.time-boxes .data-box .date {
		right: auto;
		left: 50%;
		top: -100px;
		margin: 0 0 0 -40px;
	}

	.time-boxes .data-box:before {
		display: none;
	}

	.add-sponsors {
		padding: 92px 15px 26px;
	}

	.add-info {
		font-size: 16px;
		padding: 150px 0 59px;
	}
}

@media only screen and (max-width: 767px) {
	.nav-opener {
		display: block;
	}

	.entry-section {
		font-size: 14px;
		line-height: 19px;
	}

	.entry-section .holder {
		height: auto !important;
	}

	.entry-section .holder .frame {
		padding: 74px 0 0;
	}

	.entry-section .logo-box {
		margin: 0 0 20px;
	}

	.entry-section .logo-box img {
		width: 160px;
		height: auto;
	}

	.entry-section h1 {
		font-size: 32px;
		line-height: 36px;
		margin: 0 0 20px;
	}

	.entry-section .title {
		font-size: 20px;
		margin: 0 0 10px;
	}

	.entry-section .btn-row {
		padding: 10px 0 20px;
	}

	.entry-section .btn-row a {
		font-size: 26px;
		line-height: 30px;
	}

	#nav {
		margin: 0;
		float: none;
	}

	#nav > li {
		float: none;
		margin: 0;
		padding: 0;
	}

	#nav > li > a {
		display: block;
		padding: 10px 10px;
		font-weight: bold;
	}

	#nav ul {
		position: static;
		margin: 0;
		width: auto;
		font-size: 13px;
	}

	.nav-box {
		position: absolute;
		left: 0;
		top: 100%;
		overflow: hidden;
		width: 100%;
		z-index: 100;
		max-height: 0;
		-webkit-transition: all .25s linear;
		transition: all .25s linear;
		padding: 0;
	}

	.nav-active .nav-box {
		max-height: 4000px;
	}

	.nav-box .nav-holder {
		position: static;
		-webkit-transition: all .25s linear;
		transition: all .25s linear;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		background: rgba(255, 255, 255, .95);
	}

	.nav-active .nav-box .nav-holder {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	.add-section .holder {
		padding: 40px 15px 1px;
	}

	.add-section h2 {
		margin: 0 0 110px;
	}

	.time-line {
		margin: 0 0 -70px;
	}

	.time-line:before,
	.time-line:after {
		display: none;
	}

	.time-line .day {
		margin: 0 0 0 -43px;
	}

	.time-line .last.box,
	.time-line .box {
		float: none;
		width: auto;
		margin: 0 0 140px;
		text-align: center;
	}

	.time-line .last.box .image,
	.time-line .box .image {
		display: inline-block;
		vertical-align: top;
	}

	.time-line .last.box:after,
	.time-line .box:after {
		margin: 0 0 0 -6px;
	}

	.time-line .box-holder:before {
		position: absolute;
		left: 0;
		top: -35px;
		right: 0;
		height: 2px;
		background: #fff;
		content: "";
	}

	.time-line .box-holder:after {
		position: absolute;
		right: 2px;
		top: -41px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 0 7px 14px;
		border-color: transparent transparent transparent #fff;
		content: "";
	}

	.faq h2,
	.add-sponsors h2,
	.sponsors-section h2,
	.graff-box h2,
	.gallery-section h2,
	.about-boxes h2,
	.add-text-section h2,
	.add-section h2 {
		font-size: 30px;
		line-height: 34px;
	}

	.add-info {
		padding: 50px 0 1px;
	}

	.add-info .cols {
		padding: 0;
	}

	.add-info .cols .col {
		float: none;
		width: auto;
		text-align: center;
		margin: 0 0 20px;
	}

	.add-info .btn-row {
		padding: 0 0 60px;
	}

	.add-info .btn-row a {
		font-size: 18px;
	}

	.add-info .btn-row i {
		vertical-align: middle;
	}

	.add-text-section {
		padding: 30px 15px 20px;
	}

	.add-text-section .note {
		font-size: 16px;
		line-height: 27px;
	}

	.icos-boxes {
		margin: 0 0 145px;
	}

	.icos-boxes .box {
		width: 100%;
		margin: 0 0 -1px;
		border-left: 0;
		border-bottom: 1px solid #bbbfc3;
	}

	.icos-boxes .slide-box.right .col,
	.icos-boxes .slide-box .col {
		float: none;
		width: auto;
	}

	.icos-boxes .slide-box.right .area,
	.icos-boxes .slide-box .area {
		padding: 12px 10px 5px;
		font-size: 13px;
		text-align: center;
	}

	.text-cols .num-box {
		min-height: 0;
	}

	.text-cols .col {
		width: 100%;
		float: none;
	}

	.time-boxes {
		padding: 50px 15px 0;
		margin: 0 auto -50px;
	}

	.time-boxes .data-box {
		padding: 40px 15px;
	}

	.gallery-section {
		padding: 53px 0 29px;
	}

	.gallery-section h2 {
		margin: 0 0 60px;
	}

	.gallery {
		margin: 0 30px;
	}

	.gallery .gallery-holder {
		margin: 0 0 20px;
	}

	.gallery .btn-next {
		right: -20px;
	}

	.gallery .btn-prev {
		left: -20px;
	}

	.gallery .gallery-holder ul > li {
		width: 100%;
		padding: 0;
		height: auto !important;
	}

	.gallery .tab-box {
		position: relative;
		left: 0;
		top: 0;
		margin: 0 -15px 0;
		width: auto;
		padding: 35px 16px 20px;
		font-size: 13px;
	}

	.graff-box {
		padding: 27px 15px 22px;
	}

	.graff-box h2 {
		margin: 0 0 20px;
	}

	.sponsors-section .note {
		font-size: 16px;
		margin: 0 auto 100px;
	}

	.sponsors-section .alt-text {
		font-size: 34px;
		line-height: 36px;
	}

	.sponsors-section .holder {
		padding: 32px 15px 26px;
	}

	.sponsors {
		padding: 0 0 1px;
	}

	.sponsors ul li {
		margin: 0 28px 71px;
	}

	.add-sponsors {
		padding: 32px 15px 26px;
	}

	.add-sponsors .note {
		font-size: 16px;
		margin: 0 0 40px;
	}

	.logos {
		margin: 0 -10px 30px;
		text-align: left;
	}

	.logos li {
		margin: 0 15px 20px;
	}

	.logos-cols {
		margin: 0;
	}

	.logos-cols .col {
		width: auto !important;
		float: none;
		padding: 0 10px;
	}

	.logos-cols .title h3 span:before,
	.logos-cols .title h3 span:after {
		display: block;
	}

	.faqs-list {
		font-size: 13px;
	}

	.faqs-list .opener {
		font-size: 15px;
	}

	.legend {
		margin-bottom: 30px;
	}

	#footer {
		font-size: 13px;
		line-height: 20px;
		margin: 10px 15px 20px;
	}
}